<a href="https://colab.research.google.com/github/yhy0519/The_first_step_of_Python/blob/main/python20_12_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**■ 154. 필수 알고리즘3 (버블정렬)**


버블정렬이란 ?  

    서로 인접한 두 요소의 크기를 서로 비교하여 순서에 맞지 않는 요소를 인접한 요소와 서로 교환하여 정렬하는 정렬방법을 버블(bubble)정렬이라고 합니다.

문제502. 아래의 리스트를 만들고 첫번째 요소와 두번째 요소의 순서를 변경하시오 !

    a = [ 10, 5, 20, 9, 8 ]

    결과: [ 5, 10, 20, 9, 8 ]

In [1]:
a = [ 10, 5, 20, 9, 8 ]

temp = a[1]     # 1번째 요소를 temp 변수에 임시저장하고
a[1] = a[0]     # 1번째 요소를 0번째 요소로 변경한 후에
a[0] = temp     # 0번째 요소를 1번째 요소로 변경합니다.

print(a)

[5, 10, 20, 9, 8]

문제503. 아래의 a 리스트의 첫번째 요소와 두번째 요소의 크기를 비교해서 첫번째 요소의 숫자가 두번째 요소의 숫자보다 크다면 두개를 바꿔치기해라

    a = [ 10, 5, 20, 9, 8 ]

    결과: [ 5, 10, 20, 9, 8 ]

In [2]:
a = [ 10, 5, 20, 9, 8 ]

if a[0] > a[1]:
    temp = a[1]
    a[1] = a[0]
    a[0] = temp
    
print(a)

[5, 10, 20, 9, 8]

문제504. 문제 503번 코드에 for loop 문을 넣어서 버블정렬하시오 !

    a = [ 5, 4, 3, 2, 1, 8, 7, 10 ]

    결과: [ 4, 3, 2, 1, 5, 7, 8, 10 ]

    [ 5, 4, 3, 2, 1, 8, 7, 10 ]
    	      ↓
    [ 4, 5, 3, 2, 1, 8, 7, 10 ]
	          ↓
    [ 4, 3, 5, 2, 1, 8, 7, 10 ]
	          ↓
    [ 4, 3, 2, 5, 1, 8, 7, 10 ]
	          ↓
    [ 4, 3, 2, 1, 5, 8, 7, 10 ]
	          ↓
    [ 4, 3, 2, 1, 5, 7, 8, 10 ]

In [3]:
a = [ 5, 4, 3, 2, 1, 8, 7, 10 ]

for i in range(0, len(a)-1):
    if a[i] > a[i+1]:
        temp = a[i+1]
        a[i+1] = a[i]
        a[i] = temp
    
print(a)

[4, 3, 2, 1, 5, 7, 8, 10]

문제505. 위의 코드를 이용해서 버블정렬을 하는 함수를
	     아래와 같이 생성하시오 !

    a = [ 5, 4, 3, 2, 1, 8, 7, 10 ]

    print( bubble_sort(a) )

    결과: [ 1, 2, 3, 4, 5, 7, 8, 10 ]

In [4]:
a = [ 5, 4, 3, 2, 1, 8, 7, 10 ]

def bubble_sort(a):
    for k in range(1, len(a)):
        for i in range(0, len(a)-1):
            if a[i] > a[i+1]:
                temp = a[i+1]
                a[i+1] = a[i]
                a[i] = temp
    return a
      
print( bubble_sort(a) )

[1, 2, 3, 4, 5, 7, 8, 10]

In [5]:
a = [ 5, 4, 3, 2, 1, 8, 7, 10 ]

def bubble_sort(a):
    n=1 
    while n>0:     # n = 0 이 되면 정렬이 완료된것임
        n=0
        b=0
        for i in range(len(a)-b-1): # 연산 횟수를 줄이기 위해서
            b+=1
            if a[i] >= a[i+1]:
                a[i],a[i+1] = a[i+1],a[i]
                n+=1    # 교환된 횟수만큼 n 값 증가
        print(a,n,b)
    return a

print(bubble_sort(a))

[4, 3, 2, 1, 5, 7, 8, 10] 5 7
[3, 2, 1, 4, 5, 7, 8, 10] 3 7
[2, 1, 3, 4, 5, 7, 8, 10] 2 7
[1, 2, 3, 4, 5, 7, 8, 10] 1 7
[1, 2, 3, 4, 5, 7, 8, 10] 0 7
[1, 2, 3, 4, 5, 7, 8, 10]

In [6]:
def bubble_sort(a):
    n = 1
    j = -1           # 정렬된 숫자는 다시 계산 안하게 해주는 역할
    while n != 0:
        n = 0
        j += 1
        for i in range(len(a)-j-1): # 과도한 계산을 막기 위해서 하나씩 빼줌 정렬된 수는 안봐도 되니까
            if a[i] > a[i+1]:
                a[i],a[i+1] = a[i+1],a[i]
                n += 1
    return a

a = [ 5, 4, 3, 2, 1, 8, 7, 10 ]
print(bubble_sort(a))

[1, 2, 3, 4, 5, 7, 8, 10]

**■ 155. 필수 알고리즘4 (탐욕알고리즘)**

머신러닝 배울때 의사결정트리를 구현할 때 사용하는 알고리즘입니다.

탐욕알고리즘 이란 ? 

    탐욕 알고리즘은 매 순간마다 최선의 선택을 하는것입니다.
		선택할 때 마다 가장 좋다고 생각되는 것을 선택해 나가며 최종적인 해답을 구하는 알고리즘입니다. 
    이 알고리즘을 설계할 때 주의할 점은 전체를 고려하는게 아니라 문제를 부분적으로 나누어, 
    나누어진 문제에 대한 최적을 해답을 구하도록 해야한다는 점입니다.

예: 14원의 잔돈을 줘야하는데 잔돈의 종류가 10원, 7원, 1원이 있으면 
	잔돈을 가장 빨리 줄 수 있는 방법은?
	
	탐욕 알고리즘은 10원 1개, 7원 0개, 1원 4개로 주는게 탐욕 알고리즘입니다.

문제506. 14를 10으로 나눈 몫을 출력하시오 !

In [7]:
print( 14 / 10 )    
print( int(14/10) )
print( 14 // 10 )

1.4
1
1

문제507. 14를 10으로 나눈 나머지를 출력하시오 !

In [8]:
print( 14 % 10 )

4

문제508. 숫자를 물어보게하고 숫자를 10으로 나눈 몫과 숫자를 10으로 나눈 나머지값을 출력하게하시오 !

    숫자를 입력하세요 ~ 14

    몫은: 1
    나머지값은: 4

In [9]:
num = int(input('숫자를 입력하세요 ~ '))
print('몫은 :', num // 10)
print('나머지값은 :', num % 10)

숫자를 입력하세요 ~ 14
몫은 : 1
나머지값은 : 4

문제509. 아래의 잔돈 리스트를 만들고 잔돈 리스트의 첫번째 요소로 나눈 몫과 나머지값이 출력되게하시오 !

    coin = [ 10, 7, 1 ]

    숫자를 입력하세요 ~ 14

    몫은: 1
    나머지값은: 4

In [10]:
num = int(input('숫자를 입력하세요 ~ '))
coin = [ 10, 7, 1 ]
print('몫은 :', num // coin[0])
print('나머지값은 :', num % coin[0])

숫자를 입력하세요 ~ 14
몫은 : 1
나머지값은 : 4

문제510. 위의 코드를 함수로 만들어서 실행되게 하시오 !

    greedy()

    잔돈을 입력하세요 ~ 14

    몫은: 1
    나머지값은: 4

In [11]:
def greedy():
    num = int(input('숫자를 입력하세요 ~ '))
    coin = [ 10, 7, 1 ]
    print('몫은 :', num // coin[0])
    print('나머지값은 :', num % coin[0])

greedy()

숫자를 입력하세요 ~ 14
몫은 : 1
나머지값은 : 4

문제511. 탐욕 알고리즘을 파이썬으로 구현하시오

    greedy()

    잔돈을 입력하세요 ~ 14
    10원 동전 1개, 7원 동전 0개, 1원 동전 4개로 줍니다.

    잔돈을 입력하세요 ~ 107
    10원 동전 10개, 7원 동전 1개, 1원 동전 0개로 줍니다.

In [14]:
def greedy():
    coin = [ 10, 7, 1 ]
    num = int(input('잔돈 입력하세요 ~ '))
    a = num // coin[0]      # 잔돈을 10으로 나눈 몫
    b = num % coin[0]      # 잔돈을 10으로 나눈 나머지

    if b >= 7:       # 잔돈을 10으로 나눈 나머지가 7보다 크면
        print('10원 동전', a,'개, 7원 동전', b // coin[1], '개, 1원 동전 ', b % coin[1], '개로 줍니다.')   
                                                          # 나머지를 7로 나눈 몫 : 7원 동전 개수, 
                                                          # 나머지를 7로 나눈 나머지 : 1원 동전 개수
    else:             # 잔돈을 10으로 나눈 나머지가 7보다 작으면 
        print('10원 동전', a,'개, 7원 동전', 0, '개, 1원 동전 ', b, '개로 줍니다.')          
                                                          # 나머지를 1원 동전에 할당

greedy()

잔돈 입력하세요 ~ 14
10원 동전 1 개, 7원 동전 0 개, 1원 동전  4 개로 줍니다.

In [15]:
def greedy() :
    coin = [10,7,1]

    num = int(input('잔돈 입력하시오 : '))
    a = []
    for i in range(3):
        result = num//coin[i]
        num = num%coin[i]
        a.append(result)
    print('10원 동전',a[0],'개, 7원 동전',a[1],'개, 1원 동전',a[2], '개로 줍니다.')

greedy()

잔돈 입력하시오 : 107
10원 동전 10 개, 7원 동전 1 개, 1원 동전 0 개로 줍니다.

**■ 156. 필수 알고리즘5 (재귀알고리즘)**

재귀 알고리즘은 처음에는 이해하기가 어려운 알고리즘이지만 많이 연습해서 잘 알아두면 loop 문을 최소화 하면서 코드를 간단하게 작성할 수 있는 알고리즘입니다.

 1. 재귀함수란 ? 반복문 + 스택구조가 결합된 함수 입니다.

    스택구조 : 후입선출(나중에 들어간게 먼저 나오는 구조)

 2. 재귀 함수의 특징?  
 
   재귀함수는 함수 내에서 다시 자기 자신을 호출한 후 그 함수가 끝날때 까지
   함수 호출 이후의 명령문을 수행하지 않습니다.

 3. 함수내에서 다른 함수를 호출하는 예제

In [16]:
def hap(a,b):
    return (a+b)

def gob(a,b):
    return (a*b)

def hap_gob(a,b):
    k = hap(a,b)
    m = gob(a,b)
    return k + m

print( hap_gob(2,3) )

11

 4. 숫자를 입력하면 1부터 해당숫자까지의 합을 출력하는 함수를 생성하시오

        print( add_func(5) )

        결과:  15

In [17]:
def add_func(a):
    cnt = 0
    for i in range(1, a+1):
        cnt += i
    return cnt

print( add_func(5) )

15

 5. 위의 add_func 함수를 재귀함수로 구현하시오 !
    ( 재귀함수를 사용하면 loop 문을 사용하지 않아도 됩니다. )

In [19]:
def add_func(n):
    if n == 0:
        return 0
    else:
        return n + add_func(n-1)
    
print( add_func(5) )

15

    print( add_func(5) )
            ↓
       5 + add_func(4)  ( = 5 + 10 )
                 ↓
            4 + add_func(3)  ( = 4 + 6 )
                     ↓
                3 + add_func(2)  ( = 3 + 3 )
                          ↓
                     2 + add_func(1)  ( = 2 + 1 )
                               ↓
                          1 + add_func(0)  ( = 1 + 0 )

문제512. factorial 함수를 만드시오

    print( factorial(5) )

    결과: 120

In [20]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)
    
print( factorial(5) )

120

문제513. 위의 factorial 함수를 재귀를 이용하지말고 for loop 문으로 구현하시오 !

In [21]:
def factorial(n):
    cnt = 1
    for i in range(1, n+1):
        cnt *= i
    return cnt
    
print( factorial(5) )

120

※ 재귀를 이용하는 2가지 장점
 1. loop 문을 복잡하게 이용하지 않아도 됩니다.
 2. 코드가 더 간결해 집니다.

문제514. 오라클의 power 함수를 파이썬으로 구현하시오 ! 
	     (재귀함수이용하지 말고 loop 문으로 구현)

    print ( power(2,3) ) 

SQL> 

    select  power(2,3) from dual;   # 8

In [22]:
def  power( n1, n2 ):
    cnt = 1 
    for  i  in  range(1, n2+1):
        cnt = cnt * n1 
    return  cnt 

print ( power(2,3) )

8

문제515. 위의 power 함수를 loop 문을 쓰지 말고 재귀함수로 구현하시오 !

In [23]:
def  power( x , n):
    if  n == 0:
        return  1
    else:
        return  x * power( x, n-1) 
                               
print ( power(2,3) )

8

    print ( power(2,3) )
                ↓
               2 * power(2, 2 ) 
                       ↓
                       2 * power(2, 1) 
                                ↓
                                2 * power(2,0)

문제516.  구구단 2단을 아래와 같이 출력하는 함수를 생성하시오 !
             ( for loop 문 사용해서 만드세요 !) (재귀 x)

    multi_table_2dan(9)

    2 x 1 = 2 
    2 x 2 = 4
       :
    2 x 9 = 18

In [24]:
def multi_table_2dan(n):
    for i in range(1, n+1):
        print('2 x ', i, '=', 2*i)

multi_table_2dan(9)

2 x  1 = 2
2 x  2 = 4
2 x  3 = 6
2 x  4 = 8
2 x  5 = 10
2 x  6 = 12
2 x  7 = 14
2 x  8 = 16
2 x  9 = 18

문제517. 두 숫자를 입력해서 함수를 실행하면 두 숫자의 최대공약수가 출력되는 함수를 생성하시오 ! (재귀함수 사용하지 않고 loop 문을 이용해서 하세요)

    print( gcd( 16, 24 ) )

    결과: 8

In [25]:
def gcd(a, b):
    for i in range(min(a,b), 1, -1):
        if a % i == 0 and b % i == 0:
            return i

print(gcd(16, 24))

8

문제518. 최대공약수를 출력하는 함수를 재귀함수로 구현하세요 ~~

    print( gcd( 16, 24 ) )

    결과: 8

In [26]:
def gcd(n1,n2): 
    if n2 == 0:
        return n1  #
    else:
        return gcd(n2, n1%n2)
    
print(gcd(16,24))

8

설명:
'유클리드 호제법' 활용한 함수 (위키트리 정의)  

    a, b에 대해서 a를 b로 나눈 나머지를 r이라 하면(단, a>b), a와 b의 최대공약수는 b와 r의 최대공약수와 같다.   
    즉, n1 < n2 일때, n1, n2의 최대공약수 = n2, n2/n1의 나머지 사이의 최대공약수와 같음.

예시)
1071과 1029의 최대공약수를 구하면,

    1071은 1029로 나누어떨어지지 않기 때문에, 1071을 1029로 나눈 나머지를 구한다. ≫ 42  
    1029는 42로 나누어떨어지지 않기 때문에, 1029를 42로 나눈 나머지를 구한다. ≫ 21  
    42는 21로 나누어떨어진다.


n1 = 16, n2 = 24  
n2 = 24 != 0 이므로 else 조건 적용

    1) gcd(24, 16%24) -> n2 = 16%24 -> 16 
       2)  gcd(24, 16) // n2 = 16 //  16은 !=0 이므로 else 조건 gcd(16,24%16) -> n2 = 24%16 -> 8 ->gcd(16,8) 
           3)  gcd(16,8) // n2 = 8 //  8은 != 0 이므로 else 조건 gcd(8, 16%8) -> n2 = 16%8 ->  0 ->gcd(8,0) 
               4)  gcd(8,0)  // n2 = 0 이므로 if 조건 만족 n1인 8 return

**■ 157. 필수 알고리즘6 (LRU 알고리즘)**

   Least Recent Used

    LRU 알고리즘이란 Oracle DATABASE 의 메모리 관리를 효율적으로 하기 위해 
    고안된 대표적인 알고리즘으로 최신 데이터를 메모리에 유지시키고 
    오래된 데이터는 메모리에서 내보내게 하는 알고리즘

    메모리에서 조회 --> cache hit
    메모리에 없어서 디스크에서 조회 --> cache miss

    한번 디스크에서 읽은 데이터를 메모리에 올려놓고 메모리에서 빠르게 데이터를 조회할 수 있도록 LRU 알고리즘을 구현해서 만든 소프트웨어 입니다. 
    그런데 이 메모리 공간이 한정된 공간이다 보니 무한히 데이터를 올릴 수 없어서 오래된 데이터는 메모리에서 빠져나가게 되고 최신 데이터가 
    그 빠져나간 자리에 올라가게 됩니다. 최근에 내가 검색한 데이터는 다시 검색할 확률이 높은 데이터 이므로 메모리에 오래 두도록 하고 
    예전에 검색한 데이터는 메모리에서 빠져나가게 합니다.

    스택 : 후입선출
    큐 : 선입선출

문제519. 구구단 2단을 재귀함수로 출력하시오 !

    multi_table_2(9)

    2 x  1 = 2
    2 x  2 = 4
    2 x  3 = 6
    2 x  4 = 8
    2 x  5 = 10
    2 x  6 = 12
    2 x  7 = 14
    2 x  8 = 16
    2 x  9 = 18

In [27]:
def multi_table_2(n):
    if n == 0:
        return            # 함수를 종료시키기 위해 사용
    else:
        multi_table_2(n-1)
        print('2 x ', n, '=', 2 * n)
        
multi_table_2(9)

2 x  1 = 2
2 x  2 = 4
2 x  3 = 6
2 x  4 = 8
2 x  5 = 10
2 x  6 = 12
2 x  7 = 14
2 x  8 = 16
2 x  9 = 18

    n = 9
    else:
        multi_table_2(8)
        2 x  9 = 18
         ↓
        n = 8
        else:
            multi_table_2(7)
            2 x  8 = 16
              :
              :
             ↓
            n = 1
            else:
                multi_table_2(0)
                2 x  1 = 2

이런식으로 스택구조가 결합된 함수이기 때문에 먼저 들어간 데이터가 가장 마지막에 나오는 구조  
multi_table_2(0) 은 함수가 끝나는 시점으로 아무것도 출력되지 않게 정의하였고
2 x 1 = 2 부터 다시 출력하여 2 x  9 = 18 까지 출력