<a href="https://colab.research.google.com/github/yhy0519/The_first_step_of_Python/blob/main/python19_12_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**■ 150. 이미지를 숫자로 변환하는 방법 ( 폐사진 )**

딥러닝 수업을 할 때 이미지를 인공 신경망에 넣어서 학습을 시키는데
인공 신경망에 사진을 넣을 때 숫자로 변환을 해서 넣어야 합니다.

    사진 ------------------> 인공 신경망 ------------------> 폐결절
							                        		 정상폐
								                             폐암 
								                              :
						                            		 7~10가지 분류 판정


공항 검색대에 입국할 때 위반되는 물건을 반입하려고 하면 못하게 막기위해
사람이 모니터링을 하는데 … 딥러닝 기술으로 컴퓨터가 알아내도록 하려는 기술을 구현

예제1. images 폴더에 있는 사진들의 이름을 불러오는 함수를 생성합니다.

In [3]:
import os

test_image = "/content/drive/MyDrive/images"

def image_load(path):
    file_list = os.listdir(path)  # 해당 디렉토리의 파일명을 추출한다.
    return file_list

print( image_load(test_image) )

['1.png', '2.png', '3.png', '4.png', '5.png', '6.png', '7.png', '8.png', '9.png', '10.png', '11.png', '12.png', '13.png', '14.png', '15.png', '16.png', '17.png', '18.png', '19.png', '20.png']

예제2. 위의 결과에서 숫자만 나오게 함수의 코드를 수정하시오 !

In [4]:
import os
import re  # 데이터 정제전문 모듈

test_image = "/content/drive/MyDrive/images"

def image_load(path):
    file_list = os.listdir(path)  # 해당 디렉토리의 파일명을 추출한다.
    file_name = []
    for i in file_list:
        a = re.sub('[^0-9]', '', i)   # i 의 값중에서 숫자가 아닌것들은 ''(싱글 두개)인 null 로 변경
        file_name.append(a)
    return file_name

print( image_load(test_image) )

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

문제475. 위에서 출력되고 리스트 안의 요소들은 문자입니다. 그런데 문자가 아니라 리스트의 요소들이 숫자가 되게 하세요 ~

In [5]:
import os
import re  # 데이터 정제전문 모듈

test_image = "/content/drive/MyDrive/images"

def image_load(path):
    file_list = os.listdir(path)  # 해당 디렉토리의 파일명을 추출한다.
    file_name = []
    for i in file_list:
        a = re.sub('[^0-9]', '', i)   # i 의 값중에서 숫자가 아닌것들은 ''(싱글 두개)인 null 로 변경
        file_name.append( int(a) )
    return file_name

print( image_load(test_image) )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

문제476. 위의 리스트의 요소가 ascending 하게 정렬되게 하시오

In [7]:
import os
import re  # 데이터 정제전문 모듈

test_image = "/content/drive/MyDrive/images"

def image_load(path):
    file_list = os.listdir(path) 
    file_name = []
    for i in file_list:
        a = re.sub('[^0-9]', '', i)
        file_name.append( int(a) )
        file_name.sort()
    return file_name

print( image_load(test_image) )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

문제477. 위의 함수의 코드를 추가해서 아래와 같이 출력되게 하시오 !

    [ '1.png', '2.png', '3.png', ………………., '20.png' ]

In [8]:
import os
import re  # 데이터 정제전문 모듈

test_image = "/content/drive/MyDrive/images"

def image_load(path):
    file_list = os.listdir(path)    
    file_name = []
    for i in file_list:
        a = re.sub('[^0-9]', '', i)   
        file_name.append( int(a) )
        file_name.sort()

    file_res = []
    for k in file_name:
        file_res.append(str(k) + '.png')
        
    return file_res

print( image_load(test_image) )

['1.png', '2.png', '3.png', '4.png', '5.png', '6.png', '7.png', '8.png', '9.png', '10.png', '11.png', '12.png', '13.png', '14.png', '15.png', '16.png', '17.png', '18.png', '19.png', '20.png']

문제478. 위의 함수의 코드를 수정해서 아래와 같이 이름 앞에 절대경로가 붙게하시오 !

    ['/content/drive/MyDrive/images/1.png', '/content/drive/MyDrive/images/2.png', ... '/content/drive/MyDrive/images/20.png']

In [9]:
import os
import re  # 데이터 정제전문 모듈

test_image = "/content/drive/MyDrive/images"

def image_load(path):
    file_list = os.listdir(path)   
    file_name = []
    for i in file_list:
        a = re.sub('[^0-9]', '', i)   
        file_name.append( int(a) )
        file_name.sort()
        
    file_res = []
    for k in file_name:
        file_res.append('/content/drive/MyDrive/images/' + str(k) + '.png')
        
    return file_res

print( image_load(test_image) )

['/content/drive/MyDrive/images/1.png', '/content/drive/MyDrive/images/2.png', '/content/drive/MyDrive/images/3.png', '/content/drive/MyDrive/images/4.png', '/content/drive/MyDrive/images/5.png', '/content/drive/MyDrive/images/6.png', '/content/drive/MyDrive/images/7.png', '/content/drive/MyDrive/images/8.png', '/content/drive/MyDrive/images/9.png', '/content/drive/MyDrive/images/10.png', '/content/drive/MyDrive/images/11.png', '/content/drive/MyDrive/images/12.png', '/content/drive/MyDrive/images/13.png', '/content/drive/MyDrive/images/14.png', '/content/drive/MyDrive/images/15.png', '/content/drive/MyDrive/images/16.png', '/content/drive/MyDrive/images/17.png', '/content/drive/MyDrive/images/18.png', '/content/drive/MyDrive/images/19.png', '/content/drive/MyDrive/images/20.png']

예제3. 폐사진 이미지를 숮자로 변환하기 위하여 필요한 파이썬 모듈을 install 하시오

아나콘다 프롬프트 창을 열고 아래의 명령어 실행

    conda install opencv

    또는

    pip install opencv-python

설명: opencv 모듈은 이미지를 파이썬에서 숫자료 변환하고 다양한 이미지 처리를 할 수 있게	해주는 기술을 제공해주는 함수

예: 구글지도, 카카오지도, 네이버지도에 보면 street view 가 있는데 거기에 사람얼굴이나	자동차 번호판을 모자이크 처리 해줘야 합니다.

예제4. 위에서 설치한 opencv 모듈을 이용해서 폐사진을 숫자로 변환한다.

In [ ]:
import os
import re
import cv2  # opencv 모듈을 import 하겠다.

test_image = "/content/drive/MyDrive/images"

def image_load(path):
    file_list = os.listdir(path) 
    file_name = []
    for i in file_list:
        a = re.sub('[^0-9]', '', i)
        file_name.append( int(a) )
        file_name.sort()
        
    file_res = []
    for k in file_name:
        file_res.append('/content/drive/MyDrive/images/' + str(k) + '.png')
    
    image = []
    for h in file_res:
        img = cv2.imread(h)   # 이미지를 숫자로 변환하는 코드
        image.append(img)
    
    return image

print( image_load(test_image) )

결과:

    [array([[[ 16,  16,  16],
             [ 16,  16,  16],
             [ 16,  16,  16],
               ...,
             [182, 182, 182],
             [187, 187, 187],
             [191, 191, 191]],

           [[ 16,  16,  16],
            [ 16,  16,  16],
            [ 16,  16,  16],
            ...,
            [173, 173, 173],
            [179, 179, 179],
            [186, 186, 186]],

                :

           [[224, 224, 224],
            [224, 224, 224],
            [217, 217, 217],
            ...,
            [  1,   1,   1],
            [  1,   1,   1],
            [  1,   1,   1]]], dtype=uint8)]

예제5. 위의 숫자로 변환한 리스트를 인공 신경망에 넣기 위해서는 numpy 모듈의 array 형태로 제공을 해줘야 합니다.

 위의 리스트를 numpy array 로 변환합니다.

In [ ]:
import os
import re
import cv2  #
import numpy as np  # 행렬 연산을 쉽고 빠르게 할 수 있게 해주는 모듈

test_image = "/content/drive/MyDrive/images"

def image_load(path):
    file_list = os.listdir(path)    
    file_name = []
    for i in file_list:
        a = re.sub('[^0-9]', '', i) 
        file_name.append( int(a) )
        file_name.sort()
        
    file_res = []
    for k in file_name:
        file_res.append('/content/drive/MyDrive/images/' + str(k) + '.png')
    
    image = []
    for h in file_res:
        img = cv2.imread(h)
        image.append(img)
    
    return np.array(image, dtype = object)   # dtype = object 를 입력하면 메시지 안뜸

print( image_load(test_image) )

**■ 151. 이미지를 숫자로 변환하는 방법 (개와 고양이)**

개와 고양이 사진을 분류하는 인공신경망을 만들려면 개와 고양이 사진을 각각 2000장씩 내려 받아서 숫자로 변환하는 작업을 해줘야 합니다.

예제1. 머신러닝 데이터 분석의 세계대회인 kaggle 에서 개와 고양이 사진을 내려받습니다. 구글에서 kaggle 로 검색하세요 ~~

    kaggle 검색에서 cat and dog

예제2. 개사진 30장만 images2 라는 폴더를 생성하여 넣으세요.

예제3. images2 라는 폴더에 있는 이미지 이름을 가져오는 함수를 image_load2 라는 함수로 생성하시오 !

In [14]:
import os

test_image = "/content/drive/MyDrive/images2"

def image_load2(path):
    file_list = os.listdir(path)
    return file_list

print( image_load2(test_image) )

['dog.1.jpg', 'dog.17.jpg', 'dog.9.jpg', 'dog.15.jpg', 'dog.13.jpg', 'dog.14.jpg', 'dog.12.jpg', 'dog.8.jpg', 'dog.7.jpg', 'dog.11.jpg', 'dog.10.jpg', 'dog.6.jpg', 'dog.5.jpg', 'dog.4.jpg', 'dog.3.jpg', 'dog.2.jpg', 'dog.16.jpg', 'dog.28.jpg', 'dog.30.jpg', 'dog.29.jpg', 'dog.25.jpg', 'dog.26.jpg', 'dog.24.jpg', 'dog.27.jpg', 'dog.23.jpg', 'dog.22.jpg', 'dog.21.jpg', 'dog.20.jpg', 'dog.19.jpg', 'dog.18.jpg']

예제4. 위의 개사진 이름에서 숫자만 출력하시오 !

In [15]:
import os
import re

test_image = "/content/drive/MyDrive/images2"

def image_load2(path):
    file_list = os.listdir(path)
    file_name = []
    for i in file_list:
        a = re.sub('[^0-9]', '', i)
        file_name.append(a)
    return file_name

print( image_load2(test_image) )

['1', '17', '9', '15', '13', '14', '12', '8', '7', '11', '10', '6', '5', '4', '3', '2', '16', '28', '30', '29', '25', '26', '24', '27', '23', '22', '21', '20', '19', '18']

예제5. file_name 리스트 안의 숫자를 정렬해서 출력되게하시오 !

In [16]:
import os
import re

test_image = "/content/drive/MyDrive/images2"

def image_load2(path):
    file_list = os.listdir(path)
    file_name = []
    for i in file_list:
        a = re.sub('[^0-9]', '', i)
        file_name.append(int(a))
        file_name.sort()
    return file_name

print( image_load2(test_image) )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

예제6. 아래와 같이 절대경로와 확장자가 붙어서 출력되게하시오 !

    ['/content/drive/MyDrive/images2/dog.1.jpg', '/content/drive/MyDrive/images2/dog.2.jpg', ... , '/content/drive/MyDrive/images2/dog.30.jpg']

In [17]:
import os
import re

test_image = "/content/drive/MyDrive/images2"

def image_load2(path):
    file_list = os.listdir(path)
    file_name = []
    for i in file_list:
        a = re.sub('[^0-9]', '', i)
        file_name.append(int(a))
        file_name.sort()
    
    file_res = []
    for k in file_name:
        file_res.append('/content/drive/MyDrive/images2/dog.' + str(k) + '.jpg')
        
    return file_res

print( image_load2(test_image) )

['/content/drive/MyDrive/images2/dog.1.jpg', '/content/drive/MyDrive/images2/dog.2.jpg', '/content/drive/MyDrive/images2/dog.3.jpg', '/content/drive/MyDrive/images2/dog.4.jpg', '/content/drive/MyDrive/images2/dog.5.jpg', '/content/drive/MyDrive/images2/dog.6.jpg', '/content/drive/MyDrive/images2/dog.7.jpg', '/content/drive/MyDrive/images2/dog.8.jpg', '/content/drive/MyDrive/images2/dog.9.jpg', '/content/drive/MyDrive/images2/dog.10.jpg', '/content/drive/MyDrive/images2/dog.11.jpg', '/content/drive/MyDrive/images2/dog.12.jpg', '/content/drive/MyDrive/images2/dog.13.jpg', '/content/drive/MyDrive/images2/dog.14.jpg', '/content/drive/MyDrive/images2/dog.15.jpg', '/content/drive/MyDrive/images2/dog.16.jpg', '/content/drive/MyDrive/images2/dog.17.jpg', '/content/drive/MyDrive/images2/dog.18.jpg', '/content/drive/MyDrive/images2/dog.19.jpg', '/content/drive/MyDrive/images2/dog.20.jpg', '/content/drive/MyDrive/images2/dog.21.jpg', '/content/drive/MyDrive/images2/dog.22.jpg', '/content/drive/MyDrive/images2/dog.23.jpg', '/content/drive/MyDrive/images2/dog.24.jpg', '/content/drive/MyDrive/images2/dog.25.jpg', '/content/drive/MyDrive/images2/dog.26.jpg', '/content/drive/MyDrive/images2/dog.27.jpg', '/content/drive/MyDrive/images2/dog.28.jpg', '/content/drive/MyDrive/images2/dog.29.jpg', '/content/drive/MyDrive/images2/dog.30.jpg']

예제7. 위의 개사진 이미지들을 opencv와 numpy 를 이용해서 숫자로 변환하고 numpy array 로 반환되게 하시오 !

In [ ]:
import os
import re
import cv2
import numpy as np

test_image = "/content/drive/MyDrive/images2"

def image_load2(path):
    file_list = os.listdir(path)
    file_name = []
    for i in file_list:
        a = re.sub('[^0-9]', '', i)
        file_name.append(int(a))
        file_name.sort()
    
    file_res = []
    for k in file_name:
        file_res.append('/content/drive/MyDrive/images2/dog.' + str(k) + '.jpg')
    
    image = []
    for h in file_res:
        img = cv2.imread(h)
        image.append(img)
        
    return np.array(image, dtype = object) 

print( image_load2(test_image) )

결과:


    [array([[[211, 224, 238],
        [137, 153, 169],
        [ 98, 116, 139],
        ...,
        [ 82, 102, 133],
        [ 77,  97, 128],
        [ 76,  96, 127]],

       [[219, 234, 250],
        [137, 154, 173],
        [ 86, 108, 133],
        ...,
        [ 64,  84, 115],
        [ 59,  80, 111],
        [ 59,  79, 110]],

            :

       [[147, 112,  48],
        [151, 116,  52],
        [155, 120,  56],
        ...,
        [ 43,  86, 101],
        [ 55,  79,  97],
        [ 56,  71,  90]]], dtype=uint8)]

문제480. 지난번에 여러분들이 직접 스크롤링한 사진 20장을 images3 에 넣고  숫자로 변환하는 함수를 image_load3 로 생성하시오 !

In [ ]:
import os
import re
import cv2
import numpy as np

test_image = "/content/drive/MyDrive/images3"

def image_load3(path):
    file_list = os.listdir(path)
    file_name = []
    for i in file_list:
        a = re.sub('[^0-9]', '', i)
        file_name.append(int(a))
        file_name.sort()
    
    file_res = []
    for k in file_name:
        file_res.append('/content/drive/MyDrive/images3/' + str(k) + '.jpg')
    
    image = []
    for h in file_res:
        img = cv2.imread(h)
        image.append(img)
        
    return np.array(image, dtype = object) 

print( image_load3(test_image) )

**■ 152. 필수 알고리즘1 (합성곱 연산)**

알고리즘 문제를 풀어야하는 이유?

 1. 지금까지 배운 파이썬 문법을 완성하는 단계 - 알고리즘 문제 해결

 2. 구글, 네이버, 카카오와 같이 대기업으로 지원하고자 한다면
    알고리즘 문제를 많이 풀어봐야 합니다.


** 합성곱 연산 알고리즘 ?

      딥러닝의 필수 알고리즘 (퍼셉트론, 합성곱 연산 알고리즘)
      이미지의 형상을 무시하지 않고 이미지를 그대로 인공 신경망이 학습할 수 있게 해준 수학 행렬 연산입니다.  
      합성곱에서 원본 이미지는 학습해야할 데이터(사진) 이고 필터(filter) 는 원본이지미에서 특징을 잡아내는데 사용되는 행렬입니다.  
      특징을 잡아서 feature map 을 생성하여 원본이미지의 형태를 이해하는 것을 합성곱 연산이라고 합니다.

문제481. 아래의 두 행렬을 만들고 덧셈 연산을 하시오 !  
![image.png]()

In [19]:
import numpy as np

a = [[1,2,3], [0,1,2], [3,0,1]]
b = [[2,0,1], [0,1,2], [1,0,2]]

a2 = np.array(a)
b2 = np.array(b)
print(a2 + b2)

[[3 2 4]
 [0 2 4]
 [4 0 3]]

문제482. 아래의 두행렬을 만들고 두행렬의 원소들의 곱을 구하시오 !  
![image.png]()

In [20]:
import numpy as np

a = [[1,2,3], [0,1,2], [3,0,1]]
b = [[2,0,1], [0,1,2], [1,0,2]]

a2 = np.array(a)
b2 = np.array(b)
print(a2 * b2)

[[2 0 3]
 [0 1 4]
 [3 0 2]]

문제483. 위에서 원소들의 곱으로 출력된 결과인 3x3 행렬의 요소들을 모두 다 더하시오 !

    결과 : 15

In [21]:
import numpy as np

a = [[1,2,3], [0,1,2], [3,0,1]]
b = [[2,0,1], [0,1,2], [1,0,2]]

a2 = np.array(a)
b2 = np.array(b)
result = a2 * b2

print(np.sum(result))   # 행렬안의 원소들의 합을 출력합니다.

15

설명: numpy 란?  
python 언어에서 기본적으로 지원하지 않는 배열(array) 혹은 행렬(matrix) 의 계산을 쉽게해주는 라이브러리 입니다.  
머신러닝에서 많이 사용하는 선형대수학에 관련된 수식들을 python 에서 쉽게 프로그래밍 할 수 있게 해줍니다.

문제484. 아래의 4x4 행렬을 만드시오 !  
![image.png]()

In [22]:
import numpy as np

a = [[1,2,3,0], [0,1,2,3], [3,0,1,2], [2,3,0,1]]
a2 = np.array(a)
print(a2)

[[1 2 3 0]
 [0 1 2 3]
 [3 0 1 2]
 [2 3 0 1]]

문제485. 아래의 4x4 행렬에서 빨간색으로 지정한 영역의 숫자들만 출력하시오 !

![image.png]()


설명: 행 1-3, 열 1-3

In [23]:
import numpy as np

a = [[1,2,3,0], [0,1,2,3], [3,0,1,2], [2,3,0,1]]
a2 = np.array(a)
print(a2[0:3, 0:3])  # 행을 0 이상에서 3 미만까지, 열을 0 이상에서 3 미만까지

[[1 2 3]
 [0 1 2]
 [3 0 1]]

문제486. 아래의 4x4 행렬에서 빨간색으로 지정한 영역의 숫자들만 출력하시오 !

![image.png]()

In [24]:
import numpy as np

a = [[1,2,3,0], [0,1,2,3], [3,0,1,2], [2,3,0,1]]
a2 = np.array(a)
print(a2[0:3, 1:4])   # a2[ 행, 열 ]

[[2 3 0]
 [1 2 3]
 [0 1 2]]

문제487. 아래의 4x4 행렬에서 빨간색으로 지정한 영역의 숫자들만 출력하시오 !

![image.png]()

In [26]:
import numpy as np

a = [[1,2,3,0], [0,1,2,3], [3,0,1,2], [2,3,0,1]]
a2 = np.array(a)
print(a2[1:4, 0:3])

[[0 1 2]
 [3 0 1]
 [2 3 0]]

문제488. 아래의 4x4 행렬에서 빨간색으로 지정한 영역의 숫자들만 출력하시오 !


![image.png]()

In [27]:
import numpy as np

a = [[1,2,3,0], [0,1,2,3], [3,0,1,2], [2,3,0,1]]
a2 = np.array(a)
print(a2[1:4, 1:4])

[[1 2 3]
 [0 1 2]
 [3 0 1]]

문제489. 아래의 4x4 행렬에서 위에서 빨간색으로 지정됬던 4개의 영역의 숫자들을 for loop 문을 이용해서 모두 출력하시오 !

![image.png]()

3x3 행렬 4개를 추출하시오 ~

In [28]:
import numpy as np

a = [[1,2,3,0], [0,1,2,3], [3,0,1,2], [2,3,0,1]]
a2 = np.array(a)

for i, k in zip(range(0,2), range(3,5)):
    for j, h in zip(range(0,2), range(3,5)):
        print(a2[i:k, j:h])

[[1 2 3]
 [0 1 2]
 [3 0 1]]
[[2 3 0]
 [1 2 3]
 [0 1 2]]
[[0 1 2]
 [3 0 1]
 [2 3 0]]
[[1 2 3]
 [0 1 2]
 [3 0 1]]

문제490. 위에서 선택한 4개의 행렬(3x3) 과 아래의 filter 행렬(3x3) 과의 원소의 곱을 출력하시오 !

![image.png]()

In [29]:
import numpy as np

a = [[1,2,3,0], [0,1,2,3], [3,0,1,2], [2,3,0,1]]
a2 = np.array(a)
f = [[2,3,4], [1,2,3], [2,0,1]]
filter = np.array(f)

for i, k in zip(range(0,2), range(3,5)):
    for j, h in zip(range(0,2), range(3,5)):
        print(a2[i:k, j:h] * filter)

[[ 2  6 12]
 [ 0  2  6]
 [ 6  0  1]]
[[4 9 0]
 [1 4 9]
 [0 0 2]]
[[0 3 8]
 [3 0 3]
 [4 0 0]]
[[ 2  6 12]
 [ 0  2  6]
 [ 6  0  1]]

문제491. 위에서 출력된 3x3 행렬 4개에 대한 원소들의 합이 각각 출력되게 하시오 !

In [30]:
import numpy as np

a = [[1,2,3,0], [0,1,2,3], [3,0,1,2], [2,3,0,1]]
a2 = np.array(a)
f = [[2,3,4], [1,2,3], [2,0,1]]
filter = np.array(f)

for i, k in zip(range(0,2), range(3,5)):
    for j, h in zip(range(0,2), range(3,5)):
        print(np.sum(a2[i:k, j:h] * filter))

35
29
21
35

문제492. 위에서 출력된 4개의 숫자로 아래의 행렬(2x2)을 만드시오 !

![image.png]()

In [31]:
import numpy as np

a = [[1,2,3,0], [0,1,2,3], [3,0,1,2], [2,3,0,1]]
a2 = np.array(a)
f = [[2,3,4], [1,2,3], [2,0,1]]
filter = np.array(f)

result = []
for i, k in zip(range(0,2), range(3,5)):
    for j, h in zip(range(0,2), range(3,5)):
        result.append(np.sum(a2[i:k, j:h] * filter))

result2 = np.array(result).reshape(2,2)   # numpy array의 2x2 행렬로 변경
print(result2)

[[35 29]
 [21 35]]

설명: a2 라는 원본이미지(개사진)에 filter(랜덤으로 생성한 이미지)를 가지고 원본 이미지를 스트라이드(양옆위아래로 스캔) 하면서 특정을 잡아내어 특징 이미지를 추출(result2)	하는 것을 합성곱이라고 합니다.

문제493. 아래의 원본 이미지 행렬(5x5) 행렬에서 필터행렬(4x4)로 
	     스트라이딩 해서 합성곱해서 특징(2x2)을 추출하시오 !

이미지 행렬

    2 3 1 4 7
    3 1 6 4 3
    2 1 5 3 1
    6 2 4 1 2
    7 3 1 2 3

필터행렬

    3 1 4 1
    2 3 3 4
    5 1 2 1
    6 1 3 4

In [32]:
import numpy as np

a = [[2,3,1,4,7], [3,1,6,4,3], [2,1,5,3,1], [6,2,4,1,2], [7,3,1,2,3]]
a2 = np.array(a)
f = [[3,1,4,1], [2,3,3,4], [5,1,2,1], [6,1,3,4]]
filter = np.array(f)

result = []
for i, k in zip(range(0,4), range(4,6)):
    for j, h in zip(range(0,4), range(4,6)):
        result.append(np.sum(a2[i:k, j:h] * filter))

result2 = np.array(result).reshape(2,2)
print(result2)

[[138 121]
 [169 113]]

In [33]:
import numpy as np

a = [[2,3,1,4,7], [3,1,6,4,3], [2,1,5,3,1], [6,2,4,1,2], [7,3,1,2,3]]
a2 = np.array(a)
f = [[3,1,4,1], [2,3,3,4], [5,1,2,1], [6,1,3,4]]
filter = np.array(f)

result = []
for i in range(0,2):
    for j in range(0,2):
        result.append(np.sum(a2[i:i+4,j:j+4]*filter))
result2=np.array(result).reshape(2,2)
print(result2)

[[138 121]
 [169 113]]

**■ 153. 필수 알고리즘2 (이진 탐색)**

https://www.ebssw.kr/edc/cultursens/cultursensMvpView.do?alctcrSn=7&cntntsSn=115&stepSn=7&lctreSn=115&pageIndex=1

문제494. 아래의 리스트에서 숫자 3이 있는지 순차 탐색으로 구현하시오 !
	     있으면 숫자 3이 있습니다. 라는 메세지가 출력되게하시오 !

    a = [15, 11, 1, 3, 8]

설명: 순차탐색이란? 주어진 데이터를 처음부터 차례대로 비교하면서 찾는 방법

In [34]:
a = [15, 11, 1, 3, 8]

for i in a:
    if i == 3:
        print('숫자 3이 있습니다')
        break
else:
    print('숫자 3이 없습니다')

숫자 3이 있습니다

문제450. 위의 코드를 수정해서 숫자를 물어보게 하고 숫자를 입력하면 해당 숫자가 존재하는지 존재하지 않는지가 출력되게 하시오 !

    검색할 숫자를 입력하세요 ~ 3

    숫자 3은 있습니다.
    숫자 2은 없습니다.

In [36]:
num = int(input('검색할 숫자를 입력하세요 ~'))

a = [15, 11, 1, 3, 8]

for i in a:
    if i == num:
        print('숫자', num, '은 있습니다')
        break
else:
    print('숫자', num, '은 없습니다')

검색할 숫자를 입력하세요 ~2
숫자 2 은 없습니다

** 이진탐색? 정렬된 데이터를 좌우 둘로 나눠서 원하는 값의 탐색범위를 좁혀가며 찾는 방법

문제496. 아래의 a 리스트에서 중앙값을 찾으시오 !

    a = [1, 7, 11, 12, 14, 23, 33, 47, 51, 64, 67, 77, 139, 672, 871]

In [37]:
a = [1, 7, 11, 12, 14, 23, 33, 47, 51, 64, 67, 77, 139, 672, 871]

import numpy as np

a_n = np.array(a)
print( np.median(a_n) )

47.0

문제497.  a 리스트에서 첫번째 숫자 부터 중앙값에 해당하는 숫자까지만 검색하시오 ~

힌트: a.index(요소명)

In [38]:
a = [1, 7, 11, 12, 14, 23, 33, 47, 51, 64, 67, 77, 139, 672, 871]

import numpy as np

a_n = np.array(a)
a_m = np.median(a_n)
print( a[ : a.index(a_m) + 1] )

[1, 7, 11, 12, 14, 23, 33, 47]

문제498. 위의 a 리스트에서 문제497번에서 선택된 숫자들을 중앙값까지 포함해서 다 지우고 
	     아래의 결과만 출력되게하시오 !

    결과: [51, 64, 67, 77, 139, 672, 871]

In [39]:
a = [1, 7, 11, 12, 14, 23, 33, 47, 51, 64, 67, 77, 139, 672, 871]

import numpy as np

a_n = np.array(a)
a_m = np.median(a_n)
del( a[ : a.index(a_m) + 1] )
print(a)

[51, 64, 67, 77, 139, 672, 871]

문제499. 위의 결과로 출력된 아래의 리스트에서 중앙값을 출력하시오 !

In [40]:
a = [1, 7, 11, 12, 14, 23, 33, 47, 51, 64, 67, 77, 139, 672, 871]

import numpy as np

a_n = np.array(a)
a_m = np.median(a_n)
del( a[ : a.index(a_m) + 1] )
a_m2 = np.median(a)
print(a_m2)

77.0

문제500. 지금 위에서 출력한 중앙값 77이 내가 검색하고자 하는 67보다 크다면 
	     아래의 결과 리스트만 출력되게 하시오

    결과: [51,64, 67]

In [41]:
a = [1, 7, 11, 12, 14, 23, 33, 47, 51, 64, 67, 77, 139, 672, 871]

import numpy as np

a_n = np.array(a)
a_m = np.median(a_n)
del( a[ : a.index(a_m) + 1] )
a_m2 = np.median(a)
if a_m2 > 67:
    del( a[a.index(a_m2) : ])
else:
    del( a[ : a.index(a_m2)])
print(a)

[51, 64, 67]

문제501. EBS 에 나온 영상대로 이진탐색을 구현하시오

    a = [1, 7, 11, 12, 14, 23, 33, 47, 51, 64, 67, 77, 139, 672, 871]

    a 리스트에서 검색할 숫자를 입력하세요 ~ 67
    67 은 이진탐색 3번만에 검색되었습니다.

    a 리스트에서 검색할 숫자를 입력하세요 ~ 68
    68 은 a 리스트에 없습니다.

In [42]:
import numpy as np

num = int(input("a 리스트에서 검색할 숫자를 입력하세요: "))

a = [ 1, 7, 11, 12, 14, 23, 33, 47, 51, 64, 67, 77, 139, 672, 871 ]

cnt = 0

while True:                   # 리스트의 갯수가 홀수일때만 가능한 코드
    a_n = np.array(a)
    a_m = np.median(a_n)

    if num not in a_n:      # 찾는 값이 list에 없으면 중단
        print( num, '은 a 리스트에 없습니다.')
        break
    elif num == a_m:       # 찾는값이 중앙값과 같으면 
        print( num, '은 이진탐색',cnt, '번만에 검색되었습니다.')   # 검색완료
        break
    elif num > a_m:        # 찾는값이 중앙값보다 크면
        del(a[ :a.index(a_m)+1])    # list를 처음부터 중앙값까지 삭제하고 while 문 다시 반복
        cnt += 1 
    elif num < a_m:        # 찾는값이 중앙값보다 작으면
        del(a[ a.index(a_m) :])     # list를 중앙값부터 끝까지 삭제하고 while 문 다시 반복
        cnt += 1

a 리스트에서 검색할 숫자를 입력하세요: 67
67 은 이진탐색 3 번만에 검색되었습니다.

In [45]:
# 과정을 보여주는 코드

num = int(input('숫자를 입력하시오'))
import numpy as np
a = [ 1, 7, 11, 12, 14, 23, 33, 47, 51, 64, 67, 77, 139, 672, 871 ]
for i in range(0,5):
    a_n = np.array(a)                       
    a_m = np.median(a_n)      
    if num in a:
        if num == a_m:
            print(num, '은 이진탐색', i , '번만에 검색되었습니다.')
            break
        elif num < a_m:
            del( a[ a.index(a_m)  : ] )
            print(a)
        else:
            del( a[ :a.index(a_m)+1 ] )
            print(a)
    else:
         print(num,'은 리스트 a 에 없습니다.')
         break

숫자를 입력하시오67
[51, 64, 67, 77, 139, 672, 871]
[51, 64, 67]
[67]
67 은 이진탐색 3 번만에 검색되었습니다.