<a href="https://colab.research.google.com/github/yhy0519/The_first_step_of_Python/blob/main/python9_12_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** 판다스로 조인하기 복습

판다스로 조인(join) 하기 위해서는 merge 를 사용하면 됩니다.

문법:

    pandas.merge( emp, dept, how = 'inner', on = 'deptno' )

옵션 :

    how = 'inner' : emp 와 dept 데이터 프레임에 공통적으로 존재하는 교집합일 경우에만 추출
    how = 'outer' : 열의 데이터가 양쪽 데이터 프레임에 공통적으로 존재하는 교집합이 아니어도 추출
    how = 'left' : 왼쪽 데이터 프레임의 키열에 속하는 데이터 값을 기준으로 병합
    how = 'right' 오른쪽 데이터 프레임의 키열에 속하는 데이터 값을 기준으로 병합

SQL>

    select e.ename, d.loc
       from emp e, dept d
       where e.deptno = d.deptno (+);

Pandas>

In [6]:
import pandas as pd
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
dept = pd.read_csv('/content/drive/MyDrive/data/dept3.csv')
result = pd.merge( emp, dept, on = 'deptno', how = 'left' )
print( result[['ename', 'loc']] )

     ename       loc
0     KING  NEW YORK
1    BLAKE   CHICAGO
2    CLARK  NEW YORK
3    JONES    DALLAS
4   MARTIN   CHICAGO
5    ALLEN   CHICAGO
6   TURNER   CHICAGO
7    JAMES   CHICAGO
8     WARD   CHICAGO
9     FORD    DALLAS
10   SMITH    DALLAS
11   SCOTT    DALLAS
12   ADAMS    DALLAS
13  MILLER  NEW YORK

문제221. 부서번호, 부서번호별 평균월급을 출력하시오!

SQL>

    select deptno, avg(sal)
       from emp
       group by deptno;

Pandas>

In [4]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
result = emp.groupby('deptno')['sal'].mean().reset_index()
print(result)

   deptno          sal
0      10  2916.666667
1      20  2175.000000
2      30  1566.666667