<a href="https://colab.research.google.com/github/yhy0519/The_first_step_of_Python/blob/main/python3_11_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

■ 19. 대입 연산자 이해하기 (=)

변수에 값을 대입하는데 사용되는 기호는 = 입니다.  
수학에서  = 은 = 왼쪽과 오른쪽의 값이 같다는 의미를 가지지만 파이썬을 포함한 
컴퓨터 프로그래밍 언어에서  
 = 은 = 왼쪽변수에 = 오른쪽의 값을 대입하겠다는 의미입니다.

예제:  
a = 7

** 대입 연산자와 일반 연산자를 비교
 1.  = : 대입 연산사
 2. == : 같다.
 3. in : 여러개의 값을 비교

문제53. 주사위 1개를 10번 던지시오!

In [4]:
import random

dice = [ 1, 2, 3, 4, 5, 6 ]

for i in range(1, 11):
  result = random.choice(dice)
  print(result)

1
1
2
5
1
1
1
4
4
5

문제54. 주사위를 10번 던져서 주사위의 눈이 3이 나오는 횟수를 출력하시오!

In [11]:
import random

dice = [ 1, 2, 3, 4, 5, 6 ]
cnt = 0                        # 횟수를 담기 위한 변수를 cnt 라는 이름으로 만들고 숫자 0을 할당한다.

for i in range(1, 11):         # 아래의 실행문을 10번 수행하겠다.
  result = random.choice(dice)
  if result == 3:
    cnt = cnt + 1              # 4칸 떼고 들어가야 if 문의 실행문이 된다. if 문의 영향권 안에 들어가게 된다. 
  
print(cnt)                     # print 는 변수안에 들어있는 값을 출력하는 함수

3

문제55. 주사위를 10번 던져서 주사위의 눈이 짝수가 나오는 횟수를 출력하시오!

In [14]:
import random

dice = [ 1, 2, 3, 4, 5, 6 ]
cnt = 0

for i in range(1, 11):
  result = random.choice(dice)
  if result in (2,4,6):   # 여러개의 값을 비교할 때 in 을 사용
    cnt = cnt + 1

print(cnt)

4

문제56. 주사위 2개를 동시에 던져 두개의 눈의 합이 10이 되는 횟수를 출력하시오!
	   (주사위 2개를 20번 던지세요!)

In [20]:
import random

dice1 = [ 1, 2, 3, 4, 5, 6 ]
dice2 = [ 1, 2, 3, 4, 5, 6 ]
cnt = 0

for i in range(1, 21):
  result1 = random.choice(dice1)
  result2 = random.choice(dice2)
  if result1 + result2 == 10:
    cnt = cnt + 1

print(cnt)

5

문제57. 주사위 2개를 동시에 던져서 두 눈의 합이 10이 되는 확률을 출력하시오!
	   (주사위 100번 던지세요 ~)

In [22]:
import random

dice1 = [ 1, 2, 3, 4, 5, 6 ]
dice2 = [ 1, 2, 3, 4, 5, 6 ]
cnt = 0

for i in range(1, 101):
  result1 = random.choice(dice1)
  result2 = random.choice(dice2)
  if result1 + result2 == 10:
    cnt = cnt + 1

print(cnt/100)

0.13

■ 20. 사칙 연산자 이해하기( , -, *, /, **)

** 사칙 연산자를 파이썬과 오라클과 비교

오라클 | 파이썬  
    + |  +  
    -	| -  
    *	| *  
 / |	 /  
 mod	| %  
power	| power(2,3), 2**3  
sqrt |	sqrt  
log2 |	log2 (밑수가 2인 로그함수)  
log10 |	log10 (밑수가 10인 로그함수)

예제1. 밑수가 10이고 진수가 10인 log 값을 출력하시오
	  (log 함수를 사용하려면 math 모듈을 import 해야합니다.)

In [23]:
import math                # 수학에 관련한 함수들이 다 코딩되어있는 모듈 math 를 이 코드에서 사용하겠다.

print( math.log10(10) )    # 모듈이름.함수이름(매개변수값)

1.0

문제58. 아래의 수학식을 파이썬으로 구현하시오!  
2 x log2(10) + 1/3 x log2(10)

In [26]:
import math

print( 2 * math.log2(10) + 1/3 * math.log2(10) )

7.751165554737178

■ 21. 연산자 축약 이해하기( +=, -=, *=, /=)

변수의 값을 사칙 연산하여 그 결과를 동일한 변수에 대입할 때 연산자를 축약해서 대입할 수 있습니다.

예: cnt = cnt + 1 을 다음과 같이 쓸 수 있습니다.  
cnt += 1

예제:   
cnt = cnt + 1 ----> cnt += 1 과 같다.  
cnt = cnt - 1  ----> cnt -= 1 과 같다.  
cnt = cnt * 2  ----> cnt *= 2 와 같다.  
cnt = cnt / 4 ----> cnt /= 4 와 같다.

문제59. 주사위를 10번 던져서 주사위의 눈이 3이 나오는 횟수를 출력하시오!
	   (축약 연산자를 이용해서 출력하시오 !)

In [27]:
import random

dice = [ 1, 2, 3, 4, 5, 6 ]
cnt = 0

for i in range(1, 11):
  result = random.choice(dice)
  if result == 3:
    cnt += 1
  
print(cnt)

2

■ 22. True와 False 이해하기

참을 나타내는 것이 True 이고 거짓을 나타내는 것이 False 입니다.
조건을 판단해서 그 조건이 참이면 True, 거짓이면 False 를 리턴합니다.
True 는 1, False 는 0 값을 가집니다. 참과 거짓을 나타낼때는 True 와 False 로 표현하면
더 직관적이고 프로그램 코드 가독성을 높일 수 있습니다.

예제:

In [28]:
a = True
b = False
print(a)
print(1 == 1) # 결과가 True 로 출력됩니다.
print(1 == 2) # 결과가 False 로 출력됩니다.

True
True
False

■ 23. 관계 연산자 이해하기(==, !=, ＜, ＜=, ＞, ＞=)

오라클 |	파이썬  
     >	| >  
    >=	| >=  
 <	 | <  
 <=	| <=  
 =	| ==  
 !=	| !=  
 in	| in

문제60. 주사위를 20번 던져서 주사위의 눈이 4이상 나오는 횟수를 출력하시오!

In [31]:
import random

dice = [ 1, 2, 3, 4, 5, 6 ]
cnt = 0

for i in range(1, 21):
  result = random.choice(dice)
  if result >= 4:
    cnt += 1
  
print(cnt)

9

문제61. (통계 정규분포 문제) 주사위 한개를 288회 던져서 주사위의 눈이 5 이상 나오는
	    횟수를 출력하시오!

In [32]:
import random

dice = [ 1, 2, 3, 4, 5, 6 ]
cnt = 0

for i in range(1, 289):
  result = random.choice(dice)
  if result >= 5:
    cnt += 1
  
print(cnt)

98

문제62. (통계 정규분포 문제) 주사위 한개를 288회 던져서 주사위의 눈이 5 이상 나오는
	    확률을 출력하시오!

In [33]:
import random

dice = [ 1, 2, 3, 4, 5, 6 ]
cnt = 0

for i in range(1, 289):
  result = random.choice(dice)
  if result >= 5:
    cnt += 1
  
print(cnt/288)

0.3611111111111111

문제63. 주사위 한개를 288회 던질때 5 이상의 눈이 나올 횟수를 출력하는데
	   이 작업을 100번해서 횟수 100개가 출력되게하시오!  
               힌트: 문제 61번 코드를 100번 수행하는 것입니다.   
 주사위 한개를 288회 던져서 주사위의 눈이 5이상 나오는 횟수를 출력

In [ ]:
import random

dice = [ 1, 2, 3, 4, 5, 6 ]

for j in range(1, 101):
  cnt = 0
  for i in range(1, 289):
    result = random.choice(dice)
    if result >= 5:
      cnt += 1
  print(cnt)

문제64. 위에서 출력된 횟수 100개를 비어있는 리스트 a 리스트에 담고
	    a 리스트의 갯수를 출력하시오 ! (a.append, len(a) 사용)

In [35]:
import random

dice = [ 1, 2, 3, 4, 5, 6 ]
a = []

for j in range(1, 101):
  cnt = 0
  for i in range(1, 289):
    result = random.choice(dice)
    if result >= 5:
      cnt += 1
  a.append(cnt)

print(len(a))

100

문제.65 동전을 100 번 던져서 앞면이 나오는 횟수를 출력하시오!

In [37]:
import random

coin = ['앞면', '뒷면']
cnt = 0

for i in range(1, 101):
  result = random.choice(coin)
  if result == '앞면':
    cnt += 1
  
print(cnt)

52

문제66. 동전 한개와 주사위 한개를 동시에 100번 던져서 동전이 앞면이 나오고 주사위의 눈이
	   5 가 나오는 횟수를 출력하시오!

In [38]:
import random

coin = ['앞면', '뒷면']
dice = [ 1, 2, 3, 4, 5, 6 ]
cnt = 0

for i in range(1, 101):
  result1 = random.choice(coin)
  result2 = random.choice(dice)
  if result1 == '앞면' and result2 == 5:
    cnt += 1
  
print(cnt)

11

문제67. 동전 한개와 주사위 한개를 동시에 100번 던져서 동전이 앞면이 나오고 주사위의 눈이
	   5 가 나오는 횟수를 출력하는 작업을 50번해서 횟수가 50개가 출력되게하시오!

In [ ]:
import random

coin = ['앞면', '뒷면']
dice = [ 1, 2, 3, 4, 5, 6 ]

for j in range(1, 51):
  cnt = 0
  for i in range(1, 101):
    result1 = random.choice(coin)
    result2 = random.choice(dice)
    if result1 == '앞면' and result2 == 5:
      cnt += 1
  print(cnt)

문제68. 위의 횟수 50개를 비어 있는 리스트 a 리스트에 담으시오!

In [41]:
import random

coin = ['앞면', '뒷면']
dice = [ 1, 2, 3, 4, 5, 6 ]
a = []

for j in range(1, 51):
  cnt = 0
  for i in range(1, 101):
    result1 = random.choice(coin)
    result2 = random.choice(dice)
    if result1 == '앞면' and result2 == 5:
      cnt += 1
  a.append(cnt)

문제69. 담겨진 a 리스트의 요소들의 갯수를 확인하시오 !

In [42]:
import random

coin = ['앞면', '뒷면']
dice = [ 1, 2, 3, 4, 5, 6 ]
a = []

for j in range(1, 51):
  cnt = 0
  for i in range(1, 101):
    result1 = random.choice(coin)
    result2 = random.choice(dice)
    if result1 == '앞면' and result2 == 5:
      cnt += 1
  a.append(cnt)

print(len(a))

50

예제1. 아래의 리스트의 요소들의 평균값을 출력하시오  
b = [ 7, 4, 5, 3, 2  ]

In [43]:
import numpy as np
b = [ 7, 4, 5, 3, 2 ] 

print(np.mean(b))

4.2

예제2. 아래의 리스트의 요소들의 평균값을 출력하시오 !
	  (numpy 사용하지 않고 수행하시오!)  
b = [ 7, 4, 5, 3, 2  ]

In [45]:
b = [ 7, 4, 5, 3, 2 ]
cnt = 0

for i in b:
  cnt += i

print(cnt/len(b))

4.2

In [46]:
b = [ 7, 4, 5, 3, 2 ] 
sum(b)/5

4.2

문제70. 문제69번 a 리스트의 요소들의 평균값을 출력하시오
	   (numpy 를 이용해서 구현하시오 !)  
numpy:	딥러닝에 필요한 수학 연산을 쉽게 구현하기 위해서 만들어 놓은 모듈(특정 목절을 위해 만든 코드의 집합)

In [48]:
import random
import numpy as np

coin = ['앞면', '뒷면']
dice = [ 1, 2, 3, 4, 5, 6 ]
a = []

for j in range(1, 51):
  cnt = 0
  for i in range(1, 101):
    result1 = random.choice(coin)
    result2 = random.choice(dice)
    if result1 == '앞면' and result2 == 5:
      cnt += 1
  a.append(cnt)

print(np.mean(a))     # 평균
print(np.var(a))      # 분산
print(np.std(a))      # 표준편차

8.16
5.774400000000001
2.4029981273400947

(아래의 코드는 문제70 번을 numpy, sum 이용하지 않고 구현. 예제2 활용해서 혼자 해본것)

In [49]:
import random

coin = ['앞면', '뒷면']
dice = [ 1, 2, 3, 4, 5, 6 ]
a = []
b = 0

for j in range(1, 51):
    cnt = 0   
    for i in range(1, 101):
        result1 = random.choice(coin)
        result2 = random.choice(dice)
        if result1 == '앞면' and result2 == 5:
            cnt += 1
    a.append(cnt)
    b += a[j-1]

print(b/len(a))

8.76

문제71. 문제64번 코드를 가져와서 a 리스트의 요소들의 평군과 분산과 표준편차를 출력하시오!

In [50]:
import random
import numpy as np

dice = [ 1, 2, 3, 4, 5, 6 ]
a = []

for j in range(1, 101):
  cnt = 0
  for i in range(1, 289):
    result = random.choice(dice)
    if result >= 5:
      cnt += 1
  a.append(cnt)

print(np.mean(a))
print(np.var(a))
print(np.std(a))

95.73
76.47710000000002
8.745118638417663

문제72. 위에 a 리스트에 담긴 요소 100개를 출력하시오!

In [52]:
import random
import numpy as np

dice = [ 1, 2, 3, 4, 5, 6 ]
a = []

for j in range(1, 101):
  cnt = 0
  for i in range(1, 289):
    result = random.choice(dice)
    if result >= 5:
      cnt += 1
  a.append(cnt)

print(a)    # 맨 마지막에 a 리스트를 print 하면 a 리스트의 모든 요소들을 한번에 볼 수 있다.

[117, 100, 90, 97, 97, 104, 103, 88, 92, 89, 100, 98, 101, 105, 91, 89, 79, 92, 85, 111, 111, 107, 90, 100, 103, 92, 88, 95, 104, 87, 114, 95, 108, 101, 89, 82, 104, 100, 83, 95, 96, 93, 102, 98, 101, 86, 90, 81, 93, 95, 105, 92, 107, 88, 90, 105, 89, 92, 90, 84, 89, 101, 98, 102, 76, 94, 105, 102, 102, 92, 100, 101, 105, 101, 93, 92, 109, 96, 112, 91, 107, 90, 89, 95, 103, 95, 108, 85, 99, 96, 102, 84, 88, 100, 101, 93, 92, 90, 100, 101]

문제73. 위의 a 리스트의 요소들을 하나씩 빼내서 출력하시오 !

In [ ]:
import random
import numpy as np

dice = [ 1, 2, 3, 4, 5, 6 ]
a = []

for j in range(1, 101):
  cnt = 0
  for i in range(1, 289):
    result = random.choice(dice)
    if result >= 5:
      cnt += 1
  a.append(cnt)

for k in a:
  print(k)

문제74. 그러면 리스트의 요소들의 숫자가 90 이상이고 106 이하인 요소들의  갯수를 출력하시오!

In [55]:
import random
import numpy as np

dice = [ 1, 2, 3, 4, 5, 6 ]
a = []

for j in range(1, 101):
  cnt = 0
  for i in range(1, 289):
    result = random.choice(dice)
    if result >= 5:
      cnt += 1
  a.append(cnt)

num = 0

for k in a:
  if k >= 90 and k <= 106:     # 90 <= k <= 106 도 가능
    num += 1

print(num)

68

문제75. 그러면 a 리스트의 요소들의 숫자가 90 이상이고 106 이하인 요소들의 확률을 출력하시오!

In [56]:
import random
import numpy as np

dice = [ 1, 2, 3, 4, 5, 6 ]
a = []

for j in range(1, 101):
  cnt = 0
  for i in range(1, 289):
    result = random.choice(dice)
    if result >= 5:
      cnt += 1
  a.append(cnt)

num = 0

for k in a:
  if k >= 90 and k <= 106:     # 90 <= k <= 106 도 가능
    num += 1

print(num/len(a))

0.67

■ 25. 판다스(pandas) 사용법

** Pandas 란?
 1. 데이터 분석을 위한 파이썬 모듈
 2. 엑셀의 스프레스 시트와 같은 관계형 데이터베이스의 데이처 처리 능력이 뛰어남.
 3. 판다스는 Dataframe 이라는 기본 자료구조룰 사용합니다.
    (오라클의 테이블과 판다스의 Dataframe 이 서로 유사합니다.)

예제1. emp3.csv 를 파이썬을 이용해서 판다스의 데이터 프레임으로 만드시오!

emp3.csv 와 dept3.csv 를 c드라이브 밑에 data 라는 폴더를 만들고 그 밑에 복사해 둡니다.

In [67]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
print(emp)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
    index  empno   ename        job  ...         hiredate   sal    comm  deptno
0       1   7839    KING  PRESIDENT  ...  1981-11-17 0:00  5000     NaN      10
1       2   7698   BLAKE    MANAGER  ...  1981-05-01 0:00  2850     NaN      30
2       3   7782   CLARK    MANAGER  ...  1981-05-09 0:00  2450     NaN      10
3       4   7566   JONES    MANAGER  ...  1981-04-01 0:00  2975     NaN      20
4       5   7654  MARTIN   SALESMAN  ...  1981-09-10 0:00  1250  1400.0      30
5       6   7499   ALLEN   SALESMAN  ...  1981-02-11 0:00  1600   300.0      30
6       7   7844  TURNER   SALESMAN  ...  1981-08-21 0:00  1500     0.0      30
7       8   7900   JAMES      CLERK  ...  1981-12-11 0:00   950     NaN      30
8       9   7521    WARD   SALESMAN  ...  1981-02-23 0:00  1250   500.0      30
9      10   7902    FORD    ANALYST  ...  1981-12-11 0:00  3000     NaN      20
10     11   7369   SMITH      CLERK  ...  1980-12-09 0:00   800     NaN      20
11     12   7788   SCOTT    ANALYST  ...  1982-12-22 0:00  3000     NaN      20
12     13   7876   ADAMS      CLERK  ...  1983-01-15 0:00  1100     NaN      20
13     14   7934  MILLER      CLERK  ...  1982-01-11 0:00  1300     NaN      10

[14 rows x 9 columns]

설명: 판다스의 read.csv함수는 os 의  csv 파일을 읽어서 판다스 데이터 프레임으로 만들겠다.  

SQL ---> 데이터에서 정보를 얻어내기 위해서(데이터 검색)  
파이썬의 판다스 --->  데이터를 검색하는 모듈

문제76. (SQL , 판다스) 사원 테이블에서 이름과 월급을 출력하시오

SQL>  
select ename, sal  
   from emp;

In [68]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
print( emp[['ename', 'sal']] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
     ename   sal
0     KING  5000
1    BLAKE  2850
2    CLARK  2450
3    JONES  2975
4   MARTIN  1250
5    ALLEN  1600
6   TURNER  1500
7    JAMES   950
8     WARD  1250
9     FORD  3000
10   SMITH   800
11   SCOTT  3000
12   ADAMS  1100
13  MILLER  1300

설명: print(데이터프레임명[ ['컬럼명1', '컬렴명2'] ] )

문제77. 아래의 SQL을 판다스로 구현하시오 !  
select ename, sal, job, hiredate  
   from emp;

In [70]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/data/emp3.csv')
print( emp[['ename', 'sal', 'job', 'hiredate']] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
     ename   sal        job         hiredate
0     KING  5000  PRESIDENT  1981-11-17 0:00
1    BLAKE  2850    MANAGER  1981-05-01 0:00
2    CLARK  2450    MANAGER  1981-05-09 0:00
3    JONES  2975    MANAGER  1981-04-01 0:00
4   MARTIN  1250   SALESMAN  1981-09-10 0:00
5    ALLEN  1600   SALESMAN  1981-02-11 0:00
6   TURNER  1500   SALESMAN  1981-08-21 0:00
7    JAMES   950      CLERK  1981-12-11 0:00
8     WARD  1250   SALESMAN  1981-02-23 0:00
9     FORD  3000    ANALYST  1981-12-11 0:00
10   SMITH   800      CLERK  1980-12-09 0:00
11   SCOTT  3000    ANALYST  1982-12-22 0:00
12   ADAMS  1100      CLERK  1983-01-15 0:00
13  MILLER  1300      CLERK  1982-01-11 0:00

문제78. 아래의 SQL 을 판다스로 구현하시오!

select ename, sal, job  
   from emp  
   where job = 'SALESMAN';

In [72]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/data/emp3.csv')
print( emp[['ename', 'sal', 'job']] [emp['job'] == 'SALESMAN'] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
    ename   sal       job
4  MARTIN  1250  SALESMAN
5   ALLEN  1600  SALESMAN
6  TURNER  1500  SALESMAN
8    WARD  1250  SALESMAN

문제79. 월급이 3000 이상인 사원들의 이름과 월급을 출력하시오!  
SQL>  
select ename, sal  
   from emp  
   where sal >= 3000;

In [73]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/data/emp3.csv')
print( emp[['ename', 'sal']] [emp['sal'] >= 3000] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
    ename   sal
0    KING  5000
9    FORD  3000
11  SCOTT  3000

문제80. 아래의 SQL을 판다스로 구현하시오!

SQL>  
select ename, sal  
   from emp  
   where sal between 1000 and 3000;

In [74]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/data/emp3.csv')
print( emp[['ename', 'sal']] [emp['sal'].between(1000, 3000)] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
     ename   sal
1    BLAKE  2850
2    CLARK  2450
3    JONES  2975
4   MARTIN  1250
5    ALLEN  1600
6   TURNER  1500
8     WARD  1250
9     FORD  3000
11   SCOTT  3000
12   ADAMS  1100
13  MILLER  1300

문제81. 월급이 1000에서 3000 사이가 아닌 사원들의 이름과 월급을 출력하시오!  
SQL>  
select ename, sal  
from emp  
where sal not between 1000 and 3000;

In [75]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/data/emp3.csv')
print( emp[['ename', 'sal']] [~emp['sal'].between(1000, 3000)] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
    ename   sal
0    KING  5000
7   JAMES   950
10  SMITH   800

■ 오라클의 기타 비교연선자와 파이썬 판다스와 비교

오라클	| 판다스  
   1	between .. and  |	emp['sal'].between(1000,3000)  
   2	in |	emp['sal'].isin(['SALESMAN', 'ANALYST'])  
   3	is null |	emp['comm'].isnull()  
   4	like |	apply 함수

문제82. 직업이 CLERK, SALESMAN 인 사원들의 이름과 직업을 출력하시오!  
SQL>  
select ename, job  
from emp  
where job in ('CLERK', 'SALESMAN');

In [77]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/data/emp3.csv')
print( emp[['ename', 'job']] [emp['job'].isin(['CLERK', 'SALESMAN'])] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
     ename       job
4   MARTIN  SALESMAN
5    ALLEN  SALESMAN
6   TURNER  SALESMAN
7    JAMES     CLERK
8     WARD  SALESMAN
10   SMITH     CLERK
12   ADAMS     CLERK
13  MILLER     CLERK

문제83. 이번에는 직업이 CLERK, SALESMAN 이 아닌 사원들의 이름과 직업을 출력하시오!

SQL>  
select ename, job  
   from emp  
   where job not in ('CLERK', 'SALESMAN');

In [78]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/data/emp3.csv')
print( emp[['ename', 'job']] [~emp['job'].isin(['CLERK', 'SALESMAN'])] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
    ename        job
0    KING  PRESIDENT
1   BLAKE    MANAGER
2   CLARK    MANAGER
3   JONES    MANAGER
9    FORD    ANALYST
11  SCOTT    ANALYST

문제84. 커미션이 null 인 사원들의 이름과 커미션을 출력하시오!

SQL>  
select ename, comm  
from emp  
where comm is null;

In [79]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/data/emp3.csv')
print( emp[['ename', 'comm']] [emp['comm'].isnull()] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
     ename  comm
0     KING   NaN
1    BLAKE   NaN
2    CLARK   NaN
3    JONES   NaN
7    JAMES   NaN
9     FORD   NaN
10   SMITH   NaN
11   SCOTT   NaN
12   ADAMS   NaN
13  MILLER   NaN

문제85. 커미션이 null 이 아닌 사원들의 이름과 커미션을 출력하시오 !

SQL>  
select ename, comm  
from emp  
where comm is not null;

In [80]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/data/emp3.csv')
print( emp[['ename', 'comm']] [~emp['comm'].isnull()] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
    ename    comm
4  MARTIN  1400.0
5   ALLEN   300.0
6  TURNER     0.0
8    WARD   500.0

(확률문제) (통계를 파이썬으로 구현)  
6개의 제품이 들어가 있는 상자가 있는데, 그 중 2개가 불량품이라고 하자
제품검사를 위해서 3개를 추출했을때 적어도 한개가 불량품일 확률은?

수학식으로 하지말고 파이썬으로 아래와 같이 상자안에 제품 6개를 넣고
랜덤으로 추출해서 수행하시오!  
복원 추출로 하세요.

box = [ '정상', '정상', '불량', '정상', '불량', '정상' ]

힌트: 사건 A의 여사건 (나머지 사건)

불량품이 하나도 없을 사건의 확률을 구한 다음에 1에서 빼면 됩니다.

In [86]:
import random
box = [ '정상', '정상', '불량', '정상', '불량', '정상' ]
cnt = 0

for i in range(1,10001):
  result1 = random.choice(box)
  result2 = random.choice(box)
  result3 = random.choice(box)
  if result1 == '정상' and result2 == '정상' and result3 == '정상':
    cnt += 1

print(1-cnt/10000)

0.7039

In [87]:
import random 

box = [ '정상', '정상', '불량', '정상', '불량', '정상' ] 
cnt = 0

for j in range(1, 100001):                   # 아래의 작업을 100000번 반복한다.
    x = []                                   # for loop 문을 다시 돌릴때 x를 비워준다.
    for i in range(1,4):                     # 아래의 내용을 3번 반복한다.
        result = random.choice(box)          # result 값을 뽑아서
        x.append(result)                     # x 리스트에 넣는다.
        if x == ['정상','정상','정상']:      # x 리스트에 넣어진 3개의 값이 전부 정상이면
            cnt += 1                         # cnt에 1 을 넣는다.

print(1-cnt/100000)

0.70549