<a href="https://colab.research.google.com/github/yhy0519/The_first_step_of_Python/blob/main/python4_11_27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

■ 복습

 " 파이썬은 괄호 대신에 들여쓰기로 블럭을 구분한다 "

블럭: 실행영역

예:

In [ ]:
for i in range(1, 11):
  print('a')      # <-- for loop 문의 관할하에 있는 실행영역입니다.
print('b')        # <-- for loop 문의 관할하에 있는 실행영역이 아닙니다.
                  # for loop 문이 다 끝나고 나면 작동되는 문장

SQL 과 파이썬의 차이점?

 1. SQL  비절차적 언어  
        3  select ename, sal  
        1     from emp  
        2     where ename = 'SCOTT';

 2. 파이썬은 절차적 언어 : 코드의 흐름대로 절차적으로 실행한다.
        for i in range(1, 10):
            print('a')
        print('b')
        for k in range(1, 100):
            print('c')

1. 파이썬 기본 자료형 5가지
  	 1. 문자형 : a = 'scott'
  	 2. 숫자형 : cnt = 0
  	 3. 리스트형 : a = [ 1, 2, 3 ]
	   4. 튜플 : b = ( 1, 2 ,3 )
	   5. 딕셔너리 : c = { 'apple' : '사과', 'eye' : '눈' }

	
 2. 파이썬 연산자
	     >, <, >=, <=, ==, !=
	
 3. if 문  
    	if 조건:  
           실행문
	
 4. loop 문 : 프로그램을 실행하다 보면 반복적으로 특정 실행문을 실행해야 할 때가 있습니다.
		  그때 loop 문을 사용해야합니다.
		  for loop 문
			예:
			for i in range(1, 11):
			    print('a')
							i = 1 일때 print('a')
							i = 2 일때 print('a')
							  :
							i = 10 일때 print('a')
		  while loop 문
			while 조건:
			    실행문

 5. 판다스 사용법 : 판다스는 엑셀과 같은 데이터를 검색할때 주로 사용

                                 연동
			    database  ----------------------  파이썬 판다스
                    ↓                                          
               emp 테이블                             검색
                   ↓                              데이터 시각화
                   SQL                            통계를 쉽게 구현
                                                 머신러닝 쉽게 구현

			" 현업에서는 주로 이렇게해서 분석을 많이 합니다. "

아직까지는 DATABASE 와 연동을 하지는 않았고 emp3.csv 를 판다스로 읽어들여서 검색을 했습니다.

문제86. 이름이 SCOTT 인 사원의 이름과 월급을 출력하시오 !

    SQL>
    select ename, sal
       from emp
       where ename = 'scott';

In [9]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
print(emp[['ename', 'sal']] [emp['ename'] == 'SCOTT'])        # emp[컬럼 리스트] [조건]

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
    ename   sal
11  SCOTT  3000

■ 26. 시퀀스 자료형 이해하기

시퀀스 자료형은 어떤 객체가 순서를 가지고 나열되어 있는 것을 말합니다.
예를들어 문자열 'abcd' 는 문자 a, b, c, d 가 순서를 가지고 차례대로 나열되어 있는 것입니다.

예:

    a = 'scott'
    print(a)    # scott

s c o t t   
0 1 2 3 4

위의 scott 이라는 문자를 담은 a 변수에서 첫번째 요소만 출력하고 싶다면?

    print( a[0] )  # s
    print( a[1] )  # c

문제87. 위의 scott 을 담은 문자형 변수 a 에서 알파벳 o 를 출력하시오 ~

In [10]:
a = 'scott'
print(a[2])

o

설명: 문자형 변수에서 특정 철자마나 가져오고 싶으면 문자형 변수 옆에 대괄호를 쓰고 순서에 해당하는 숫자를 적어주면 됩니다.

문제88. 아래의 문자형 변수에서 맨 끝의 철자인 h 를 출력하시오 !

In [11]:
b = 'smith'

print(b[4])
print(b[-1])

h
h

문제89. 판다스를 이용해서 emp3.csv 에서 이름을 출력하는데 이름의 첫번째 철자만 출력하시오!

    SQL>
    select substr(ename, 1, 1)
       from emp;

In [12]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')

for i in emp['ename']:       # emp3.csv 에서 ename 만 가져와서
  print(i[0])                # ename 의 갯수만큼 loop 문을 수행

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
K
B
C
J
M
A
T
J
W
F
S
S
A
M

설명: <class 'str'> 문자형으로 변경해줘야 문자형에서 특정 요소를 가져오는 문법을 사용할 수 있습니다.  

예:

    a[0]
판다스의 <class 'pandas.core.series.Series'> 를 문자형으로 변경하려면 for loop 문을 이용해서 하나씩 가져오면 됩니다.

예:

	for i in emp['ename']:
	    print(i)

In [13]:
for i in emp['ename']:
    print(type(i))           # <class 'str'>

print(type(emp['ename']))    # <class 'pandas.core.series.Series'>  (series 는 SQL 에서 컬럼 같은 것)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'pandas.core.series.Series'>

설명: type 명령어는 변수가 문자형, 숫자형, 리스트형, 딕셔너리형, 튜플형인지 확인하는 함수입니다.

문제90. 판다스를 이용해서 emp3.csv 를 가져와서 이름의 끝글자를 출력하시오!

In [14]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')

for i in emp['ename']:   
  print(i[-1])

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
G
E
K
S
N
N
R
S
D
D
H
T
S
R

문제91. 위의 결과에서 앞에 이름도 같이 출력하시오 !

In [15]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')

for i in emp['ename']:
  print(i, i[-1])

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
KING G
BLAKE E
CLARK K
JONES S
MARTIN N
ALLEN N
TURNER R
JAMES S
WARD D
FORD D
SMITH H
SCOTT T
ADAMS S
MILLER R

문제92. 이름의 첫번째 철자가 S 로 시작하는 사원들의 이름을 출력하시오 !

    SQL>
    select ename
       from emp
       where ename like 'S%';

In [17]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')

for i in emp['ename']:
  if i[0] == 'S':
    print(i)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
SMITH
SCOTT

문제93. 이름의 끝글자가 T 로 끝나는 사원들의 이름을 출력하시오 !

    SQL>
    select ename
       from emp
       where ename like '%T';

In [18]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')

for i in emp['ename']:
  if i[-1] == 'T':
    print(i)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
SCOTT

■ 27. 시퀀스 자료 인덱싱 이해하기

인덱싱(indexing) 이란 시퀀스 자료형에서 인덱스를 통해 해당하는 값을 얻는 방법입니다.  
파이썬에서는 인덱스를 0부터 시작하며 음수인 인덱스도 사용가능합니다. 음수 인덱스는 '끝에서 몇 번째' 라는 의미를 갖습니다.

문제94. 이름의 두번째 철자가 M 인 사원의 이름을 출력하시오!

    SQL>
    select ename
       from emp
       where ename like '_M%';

In [19]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')

for i in emp['ename']:
  if i[1] == 'M':
    print(i)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
SMITH

■ 28. 시퀀스 자료 슬라이싱 이해하기

인덱싱은 인덱스에 해당하는 요소 하나를 취하는 방법이지만 슬라이싱은 스퀀스 자료에서 일정 범위에 해당하는 부분을 취하는 방법입니다.

예제:

    a = 'scott'
    print( a[1:3] )   # co

설명: 1번째 자리부터 3미만의 자리까지 요소들을 출력

문제95. 아래의 SQL 을 판다스로 구현하시오!

    select substr(ename, 1, 3)
       from emp;

In [21]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')

for i in emp['ename']:
  print( i[0:3] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
KIN
BLA
CLA
JON
MAR
ALL
TUR
JAM
WAR
FOR
SMI
SCO
ADA
MIL

문제96. 아래의 SQL을 판다스로 구현하시오!

    select substr(ename, -2, 2)
       from emp;

In [22]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')

for i in emp['ename']:
  print( i[-2:] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
NG
KE
RK
ES
IN
EN
ER
ES
RD
RD
TH
TT
MS
ER

문제97. 아래의 SQL을 판다스로 구현하시오!

    select substr(ename, 2, 3)
       from emp;

In [24]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')

for i in emp['ename']:
  print( i[1:4] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
ING
LAK
LAR
ONE
ART
LLE
URN
AME
ARD
ORD
MIT
COT
DAM
ILL

■ 29. 시퀀스 자료 연결 이해하기(+)

자료형이 동일한 두대의 시퀀스 자료는 + 연산자로 순서있게 연결하여 
새로운 시퀀스 자료를 만들 수 있습니다.
문자열 + 문자열, 리스트 + 리스트, 튜플 + 튜플 과 같이 두개의 동일한 시퀀스 자료형에 대해 '+' 연산자로 연결이 가능합니다.

예제:

    a = 'i love '
    b = 'python'
    print(a+b)

문제98. 아래의 두개의 리스트를 연결하여 출력하세요.  
a = [ 2, 3, 4, 5 ]  
b = [ 9, 2, 4, 8 ]

In [25]:
a = [ 2, 3, 4, 5 ]
b = [ 9, 2, 4, 8 ]

print(a + b)

[2, 3, 4, 5, 9, 2, 4, 8]

문제99. 아래의 SQL을 판다스로 구현하시오 !

    select ename || sal
       from emp;

In [29]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')

for i, j in zip(emp['ename'], emp['sal']):
  print(i + str(j))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
KING5000
BLAKE2850
CLARK2450
JONES2975
MARTIN1250
ALLEN1600
TURNER1500
JAMES950
WARD1250
FORD3000
SMITH800
SCOTT3000
ADAMS1100
MILLER1300

설명: zip 함수를 for loop 문에 사용하게 되면 두개의 범위 데이터를 한번에 받아서 loop 문을 수행할 수 있습니다.  
str 함수를 사용한 이유는 문자형 + 문자형을 연결이 가능한데 문자형 + 숫자형은 연결이 안됩니다.  
그래서 숫자형을 문자형으로 변환하기 위해서 str 함수를 사용했습니다.

■ 30. 시퀀스 자료 반복 이해하기(*)

동일한 시퀀스 자료를 반복하여 새로운 시퀀스 자료로 만들고자 하면
별표(*) 를 연산자로 사용합니다.

예:

    print('a' * 7)  # 소문자 알파벳 a 를 7번 출력합니다. 
결과: aaaaaaa

    print( [1, 2, 3] * 5 )   # 리스트 [1, 2, 3] 안의 요소를 5개로 늘려서 출력
결과:[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

문제100. 주사위 눈 6개를 100 개 담은 리스트 dice100 을 만들고 dice100 리스트를 출력하시오 !

In [30]:
dice100 = [ 1, 2, 3, 4, 5, 6 ] * 100

print(dice100)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

문제101. 초등학생 키가 10개가 들어있는 아래의 tall 리스트의 요소 10개를 10000 개로 증가시켜서 tall10000 리스트에 담고 출력하시오!  
tall = [129.3, 130.2, 132.5, 134.7, 136.3, 137.8, 138.1, 140.2, 142.3, 145.2]

In [ ]:
tall = [129.3, 130.2, 132.5, 134.7, 136.3, 137.8, 138.1, 140.2, 142.3, 145.2]
tall10000 = tall * 10000

print(tall10000)

문제102. 위의 모집단의 평균값, 분산, 표준편차를 출력하시오! (numpy 를 사용)

In [33]:
import numpy as np

tall = [129.3, 130.2, 132.5, 134.7, 136.3, 137.8, 138.1, 140.2, 142.3, 145.2]
tall10000 = tall * 10000

print(type(tall10000))        # <class 'list'>
print(np.mean(tall10000))
print(np.var(tall10000))
print(np.std(tall10000))

<class 'list'>
136.66
23.782399999999985
4.876720209321013

설명: np.mean(리스트) 를 사용하면 평균값이 출력됩니다.

문제103. 위의 모집단 tall10000 에서 표본을 20개 랜덤으로 추출하시오 !

In [ ]:
import random

tall = [129.3, 130.2, 132.5, 134.7, 136.3, 137.8, 138.1, 140.2, 142.3, 145.2]
tall10000 = tall * 10000

for i in range(1, 21):
  print(random.choice(tall10000))

문제104. 위의 랜덤으로 추출한 표본 20개를 비어있는 a 리스트에 담으시오.

In [ ]:
import random

tall = [129.3, 130.2, 132.5, 134.7, 136.3, 137.8, 138.1, 140.2, 142.3, 145.2]
tall10000 = tall * 10000
a = []                      # 표본을 담기위해 a 라는 비어있는 리스트를 만듭니다.

for i in range(1, 21):
  a.append(random.choice(tall10000))   # 모집단에서 랜덤으로 키 하나를 추출해서 a 리스트에 담는다.

문제105. 위의 표본의 평균값을 출력하시오 !

In [38]:
import random
import numpy as np

tall = [129.3, 130.2, 132.5, 134.7, 136.3, 137.8, 138.1, 140.2, 142.3, 145.2]
tall10000 = tall * 10000
a = [] 

for i in range(1, 21):
  a.append(random.choice(tall10000))

print(np.mean(a))   # 평균
print(np.var(a))    # 분산
print(np.std(a))    # 표준편차

137.23499999999999
28.508275000000005
5.339314094525626

■ 31. 시퀀스 자료 크기 이해하기(len)

모든 시퀀스 자료는 고정된 길이 또는 크기를 가지고 있습니다.
시퀀스 자료의 크기는 시퀀스 자료를 구성하는 요소의 개수입니다.

예제:

    a = 'scott'
    print( len(a) )   # 5

문제106. 아래의 SQL을 판다스로 구현하시오 !

    select ename, length(ename)
       from emp;

In [39]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')

for i in emp['ename']:
  print(i, len(i))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
KING 4
BLAKE 5
CLARK 5
JONES 5
MARTIN 6
ALLEN 5
TURNER 6
JAMES 5
WARD 4
FORD 4
SMITH 5
SCOTT 5
ADAMS 5
MILLER 6

■ 32. 멤버체크 이해하기(in)

in 은 자료에 어떤 값이 있는지 없는지 확인할 때 사용하는 키워드입니다.
활용하는 방법은 다음과 같습니다.

예제:

    값 in 자료
설명: 값이 자료에 있으면 True 이고 없으면 False 가 됩니다.

예제:

    listdata = [1, 2, 3, 4]
    a = 5 in listdata
    b = 4 in listdata
    print(a)     # False
    print(b)     # True

문제107. 모평균이 30이고 모표준편차가 7인 모집단을 구성하시오!

In [40]:
import numpy as np

avg = 30
std = 7
N = 1000000

mogip = np.random.randn(N) * std + avg
print(len(mogip))

1000000

설명: np.random.randn(숫자) 를 쓰면 이 숫자만큼 가우시안 정규분포에 따르는 난수들이 숫자만큼 생성됩니다.

문제108. 위의 모집단의 모평균을 출력하시오 !

In [41]:
import numpy as np

avg = 30
std = 7
N = 1000000

mogip = np.random.randn(N) * std + avg
print(np.mean(mogip))

29.985982343699188

문제109. 아래의 SQL을 판다스로 구현하시오 !

    select ename, job
       from emp
       where job in ('SALESMAN', 'ANALYST');

In [42]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')

print( emp[['ename', 'job']] [emp['job'].isin(['SALESMAN', 'ANALYST'])] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
     ename       job
4   MARTIN  SALESMAN
5    ALLEN  SALESMAN
6   TURNER  SALESMAN
8     WARD  SALESMAN
9     FORD   ANALYST
11   SCOTT   ANALYST


문제110. 아래의 SQL을 판다스로 구현하시오 !

    select ename, job
       from emp
       where job not in ('SALESMAN', 'ANALYST');

In [43]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')

print( emp[['ename', 'job']] [~emp['job'].isin(['SALESMAN', 'ANALYST'])] )

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
     ename        job
0     KING  PRESIDENT
1    BLAKE    MANAGER
2    CLARK    MANAGER
3    JONES    MANAGER
7    JAMES      CLERK
10   SMITH      CLERK
12   ADAMS      CLERK
13  MILLER      CLERK

■ 33. 문자열 이해하기

문자열은 문자나 기호 순서로 나열되어 있는 시퀀스 자료입니다.

※ 문자열을 선언하는 방법 3가지

    1. '문자열'  <--- 싱글 쿼테이션 마크
    2. "문자열" <--- 더블 쿼테이션 마크 한 개	
    3. """ 문자열 """ <--- 더블 쿼테이션 마크 3개

문자에 아래와 같이 싱글 쿼테이션 마크(')가 포함되어져 있으면 위의 두번째인
더블 쿼테이션 마크를 사용하면 됩니다.

    a = "My son's name is John"
    print(a)

문자에 아래와 같이 더블 쿼테이션 마크(")가 포함되어져 있으면 위의 세번째인
"""   """ 더블 3개를 사용하면 됩니다.

    b = """ My son's name is "jone" """
    print(b)

문제111. 아래와 같은 글씨가 출력되게하시오!

"모집단"의 모평균은  
"모집단"의 모분산은  
"모집단"의 모표준편차는

In [45]:
print(""" "모집단"의 모평균은 """)
print(""" "모집단"의 모분산은 """)
print(""" "모집단"의 모표준편차는 """)

 "모집단"의 모평균은
 "모집단"의 모분산은
 "모집단"의 모표준편차는

문제112. 모평균이 30이고 모표준편차가 7인 모집단(1000000개)의 모평균과 모분산과 모표준편차를 아래와 같이 출력하시오!

"모집단"의 모평균은 ?  
"모집단"의 모분산은 ?  
"모집단"의 모표준편차는 ?

In [47]:
import numpy as np

avg = 30
std = 7
N = 1000000

mogip = np.random.randn(N) * std + avg

a = """ "모집단"의 모평균은 """
b = """ "모집단"의 모분산은 """
c = """ "모집단"의 모표준편차는 """

print(a, np.mean(mogip))
print(b, np.var(mogip))
print(c, np.std(mogip))

 "모집단"의 모평균은  30.003713772276537
 "모집단"의 모분산은  49.01903764525547
 "모집단"의 모표준편차는  7.001359699748005

문제113. 모평균이 30이고 모표준편차가 7인 모집단(1000000개)에서 표본을 49개 뽑으시오~

In [48]:
import numpy as np

avg = 30
std = 7
N = 1000000

mogip = np.random.randn(N) * std + avg
print(np.random.choice(mogip, 49))

[13.78711007 28.36001861 23.7062094  34.85748358 28.14369121 37.11400772
 27.51084131 20.76426438 19.31715668 40.78388299 24.42097377 24.26333844
 39.05931102 42.90183965 33.51229517 23.61856209 44.46789325 26.6783173
 23.20324699 34.60393847 26.99896974 25.02053601 29.74387296 38.93967623
 29.95166888 22.46577131 34.03097024 24.28621695 27.12056012 16.73718139
 26.29520062 43.7377698  27.24840193 28.9723195  39.6543692  36.40338539
 20.21456258 24.02827875 30.99266809 40.06550031 31.5958633  17.94600882
 29.83618332 41.72511113 17.19743951 37.07799145 24.79337897 32.92809869
 30.35699845]

문제114. 위에서 뽑은 49개의 평균값을 출력하시오 !

In [51]:
import numpy as np

avg = 30
std = 7
N = 1000000

mogip = np.random.randn(N) * std + avg

print( np.random.choice(mogip, 49).mean() )

29.013076616334352

설명: numpy 의 random 안의 choice 함수를 이용해서 mogipdan 에서 49개의 표본샘플링하고 그 표본의 평균값을 출력한다.

문제115. 위에서 출력한 표본의 평균값을 하나가 아니라 100개가 출력되게 하시오 !

In [ ]:
import numpy as np

avg = 30
std = 7
N = 1000000

mogip = np.random.randn(N) * std + avg

for i in range(1, 101):
  print( np.random.choice(mogip, 49).mean() )

문제116. 이번에는 100개를 출력하지 말고 비어있는 리스트 a 를 선언하고 a에 100개를 담으시오!

In [ ]:
import numpy as np

avg = 30
std = 7
N = 1000000

mogip = np.random.randn(N) * std + avg
a = []

for i in range(1, 101):
  a.append( np.random.choice(mogip, 49).mean() )

print(a)

문제117. 위에서 구한 표본평균의 평균값과 표준편차를 아래와 같이 출력하시오!

"표본평균" 의 평균값은 ?  
"표본평균" 의 표준편차는 ?

In [58]:
import numpy as np

avg = 30
std = 7
N = 1000000

mogip = np.random.randn(N) * std + avg
a = []

for i in range(1, 101):
  a.append( np.random.choice(mogip, 49).mean() )

x = """ "표본평균"의 평균값은 """
y = """ "표본평균"의 표준편차는 """

print(x, np.mean(a))
print(y, np.std(a))

 "표본평균"의 평균값은  30.0687421990707
 "표본평균"의 표준편차는  1.0400466042621317

■ 34. 문자열 포맷팅 이해하기

문자열 포멧팅이란 변하는 값을 포함하는 문자열을 표현하기 위해 하나의 양식으로
문자열을 만드는 것입니다.  
문자열 포멧팅에서는 변하는 값을 나타내기 위해 사용하는 기호를 '포멧 문자열' 이라고 하며, 자주 사용하는 포멧 문자열은 다음과 같습니다.

    포멧 문자열	     설명
       %s       	문자열에 대응됨
       %c       	문자나 기호 한개에 대응됨
       %f       	실수에 대응됨
       %d	       정수에 대응됨
       %%       	% 라는 기호 자체를 표시함

예제:

    txt1 = '자바'
    txt2 = '파이썬'
    num1 = 5
    num2 = 10
    print( '나는 %s 보다 %s 에 더 익숙합니다' %(txt1, txt2) )
    print( '나는 ', txt1, ' 보다', txt2, '에 더 익숙합니다')

결과:

    나는 자바 보다 파이썬 에 더 익숙합니다
    나는  자바  보다 파이썬 에 더 익숙합니다

문제118. 아래의 변수를 이용해서 아래와 같이 결과가 출력되게하시오!  
num1 = 5  
num2 = 10

결과: 5 는 10 보다 작습니다.

In [59]:
num1 = 5
num2 = 10

print('%d 는 %d 보다 작습니다.' %(num1, num2))

5 는 10 보다 작습니다.

문제119. 문제 117번의 결과가 아래와 같이 출력되게하시오 !
	     ( 문자열 포멧을 이용하세요 )
	
표본평균의 평균값은 ? 이고 분산값은 ? 이고 표준편차는 ? 입니다.

In [60]:
import numpy as np

avg = 30
std = 7
N = 1000000

mogip = np.random.randn(N) * std + avg
a = []

for i in range(1, 101):
  a.append( np.random.choice(mogip, 49).mean() )

print('표본평균의 평균값은 %f 이고 분산값은 %f 이고 표준편차는 %f 입니다.' %(np.mean(a), np.var(a), np.std(a)))

표본평균의 평균값은 30.079500 이고 분산값은 1.025650 이고 표준편차는 1.012744 입니다.

문제120. 위의 결과가 아래와 같이 소수점 두번째 자리까지만 나오게 하시오! (반올림)

표본평균의 평균값은 ??.?? 이고 분산값은 ??.?? 이고 표준편차는 ??.?? 입니다.

In [62]:
import numpy as np

avg = 30
std = 7
N = 1000000

mogip = np.random.randn(N) * std + avg
a = []

for i in range(1, 101):
  a.append( np.random.choice(mogip, 49).mean() )

print('표본평균의 평균값은 %.2f 이고 분산값은 %.2f 이고 표준편차는 %.2f 입니다.' %(round(np.mean(a)), round(np.var(a)), round(np.std(a))))

표본평균의 평균값은 30.00 이고 분산값은 1.00 이고 표준편차는 1.00 입니다.

문제121. 어느 비행기 탑승객의 짐의 무게는 평균이 18kg이고 표준편차가 3kg인 규분포를 따른다고 한다.  
이 비행기 탑승객중에서 36명을 임의추출할 때, 짐의 평균 무게가 17kg 이상일 확률을 구하여라.  
답: 0.9772

In [64]:
import numpy as np

avg = 18
std = 3
N = 1000000

mogip = np.random.randn(N) * std + avg               # 평균이 18이고 표준편차가 3이고 크기가 1000000인 모집단 생성
a = []
cnt = 0

for i in range(1, 10001):
  a.append( np.random.choice(mogip, 36).mean() )     # 위에서 만들어논 모집단에서 크기가 36인 표본을 추출하여 평균값을 계산하여 a 리스트에 추가
  if a[i-1] >= 17:                                   # a 리스트에 있는 평균값이 17 이상일 때
    cnt += 1                                         # 집계한다.

print(cnt/len(a))                                    # 집계된 갯수에서 총 갯수를 나누면 확률!

0.978