<a href="https://colab.research.google.com/github/yhy0519/The_first_step_of_Python/blob/main/python02_11_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제23. for loop 문을 이용해서 구구단 2단을 출력하시오!

2 x 1 = 2  
2 x 2 = 4  
2 x 3 = 6  
   :  
   :  
2 x 9 = 18

In [ ]:
for i in range(1, 10):    # 1 부터 10 미만까지
  print( '2 x', i, '=', 2 * i )

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

설명: for loop 문은 특정 문장을 반복해서 수행하고 싶을때 사용하는 파이썬 문법 위의 문법은 1부터 9까지 9번 반복하겠다.

문제24. 구구단 전체를 파이썬으로 출력하시오!

In [ ]:
for i in range(1, 10):
    print('2 x', i, '=', 2 * i)
for i in range(1, 10):
    print('3 x', i, '=', 3 * i)
for i in range(1, 10):
    print('4 x', i, '=', 4 * i)
for i in range(1, 10):
    print('5 x', i, '=', 5 * i)
for i in range(1, 10):
    print('6 x', i, '=', 6 * i)
for i in range(1, 10):
    print('7 x', i, '=', 7 * i)
for i in range(1, 10):
    print('8 x', i, '=', 8 * i)
for i in range(1, 10):
    print('9 x', i, '=', 9 * i)

**■ 중첩 for loop 문**

loop 문을 중첩시켜서 수행한다. loop 문 자체를 반복시킨다.

예제:

In [ ]:
for j in range(1, 10):
    for i in range(1, 10):   
        print('2 x', i, '=', 2 * i)

설명: 2단을 출력하는 for loop 문이 9번 실행되면서 2단이 9번 나왔습니다.

2단을 9번 나오게하는게 아니라 2단부터 9단까지 출력해야하므로 다음과 같이 작성해야합니다.

In [ ]:
for j in range(2, 10):     # j는 2부터 10미만까지 출력이 된다.
    for i in range(1, 10):   # i는 1부터 10미만까지 출력이 된다.
        print( j, 'x', i, '=', j * i )

설명: j = 2 일때 i가 1-9까지 반복 실행  
	       2 x 1 = 2 * 1  
	       2 x 2 = 2 * 2  
	                 :  
	       2 x 9 = 2 * 9

j = 3 일때 i가 1-9까지 반복 실행  
	       3 x 1 = 3 * 1  
	       3 x 2 = 3 * 2  
	               :  
	       3 x 9 = 3 * 9  
	
j = 4 일때 i가 1-9까지 반복 실행  
	   :  
j = 9 일때 i가 1-9까지 반복 실행

문제25. 주사위를 10번 던져서 주사위의 눈을 10개 출력하시오

In [ ]:
import random

dice = [ 1, 2, 3, 4, 5, 6 ]

for i in range(1, 11):
  print( random.choice(dice) )

5
2
1
6
5
3
5
2
5
2

문제26. 주사위를 10번 던졌을때 짝수가 나오는 횟수를 출력하시오 !
	(8%2 는 8을 2로 나눈 나머지값을 출력)

In [ ]:
import random

dice = [ 1, 2, 3, 4, 5, 6 ]
cnt = 0

for i in range(1, 11):
  result = random.choice(dice)     # 주사위의 눈이 result 변수에 할당이 된다.
  if result % 2 == 0:              # result 변수의 주사위의 눈이 짝수이면
    cnt = cnt + 1                  # cnt 를 1씩 증가시킨다.

print(cnt)                         # print 의 위치를 for 문과 맞춰줘서 cnt 에 담긴 최종 결과를 출력한다.

4

문제27. 위의 주사위를 10번 던져서 짝수가 나오는 횟수를 확인하는 작업을 5번 반복해서 짝수가 나오는 횟수가 5개가 나오게 하시오!

In [ ]:
import random

dice = [ 1, 2, 3, 4, 5, 6 ]

for j in range(1, 6):
  cnt = 0
  for i in range(1, 11):
    result = random.choice(dice)
    if result % 2 == 0:
      cnt = cnt + 1
  print(cnt)

6
5
3
5
5

설명: 주사위를 10번을 던져서 짝수가 나오는 횟수를 확인하는 for loop 문을 5번 반복하기 위해서 그 위에 for loop문을 쓰고 5번 반복하였다.  
그리고 한번에 4칸 이동시키기 위해서 코드를 선택하고 탭(tab) 키를 눌러서 한번에 이동시켰다. 뒤로 이동시키는 단축키는 shift + tab 입니다.

문제28. 동전을 100번 던져서 앞면이 나올 확률을 출력하시오!

In [ ]:
import random

coin = [ '앞면', '뒷면' ]
cnt = 0

for i in range(1, 101):
  result = random.choice(coin)
  if result == '앞면':
    cnt = cnt + 1

print(cnt/100)

0.52

문제29. 위의 동전을 100번 던져서 앞면이 나올 확률을 구하는 작업을 50번 반복해서 확률을 50개 출력하시오 !

In [ ]:
import random

coin = [ '앞면', '뒷면' ]

for j in range(1, 51):
  cnt = 0
  for i in range(1, 101):
    result = random.choice(coin)
    if result == '앞면':
      cnt = cnt + 1
  print(cnt/100)

 ** 리스트 append 함수의 기본 문법

In [ ]:
a = []        # 비어있는 리스트 a를 생성합니다.  
a.append(7)   # a 리스트에 숫자 7을 넣는다.  
print(a)  
a.append(8)   # a 리스트에 숫자 8을 넣는다.  
print(a)

[7]
[7, 8]

문제30. 파이썬 리스트에 append 함수를 이용해서 위의 확률 50개를 리스트에 담으시오 ~

In [ ]:
import random

coin = [ '앞면', '뒷면' ]
a = []

for j in range(1, 51):
  cnt = 0
  for i in range(1, 101):
    result = random.choice(coin)
    if result == '앞면':
      cnt = cnt + 1
  a.append(cnt/100)

print(a)

[0.45, 0.64, 0.44, 0.58, 0.53, 0.49, 0.47, 0.54, 0.53, 0.6, 0.49, 0.57, 0.49, 0.5, 0.56, 0.58, 0.51, 0.6, 0.53, 0.46, 0.55, 0.49, 0.5, 0.52, 0.48, 0.43, 0.47, 0.51, 0.45, 0.53, 0.43, 0.6, 0.48, 0.5, 0.54, 0.56, 0.53, 0.49, 0.53, 0.43, 0.53, 0.48, 0.49, 0.44, 0.53, 0.47, 0.52, 0.55, 0.51, 0.52]

문제31. 두개의 동전을 300번 던져서 동시에 둘 다 앞면이 나오는 횟수를 출력하시오!

In [ ]:
import random

coin1 = [ '앞면', '뒷면' ]
coin2 = [ '앞면', '뒷면' ]
cnt = 0

for i in range(1, 301):
  result1 = random.choice(coin1)
  result2 = random.choice(coin2)
  if result1 == '앞면' and result2 == '앞면':
    cnt = cnt + 1

print(cnt)

71

문제32. x 라는 리스트를 만들고 x 라는 리스트에 위의 문제에서 앞면이 나오는 횟수를 x 리스트에 담는데 위의 둘다 앞면이 나오는 횟수를  
  출력하는 for loop 문을 1000번 반복해서 x 리스트에 1000개를 입력하시오!

In [ ]:
import random

coin1 = [ '앞면', '뒷면' ]
coin2 = [ '앞면', '뒷면' ]
x = []

for j in range(1, 1001):
  cnt = 0
  for i in range(1, 301):
    result1 = random.choice(coin1)
    result2 = random.choice(coin2)
    if result1 == '앞면' and result2 == '앞면':
      cnt = cnt + 1
  x.append(cnt)

print(x)

문제33. 확률변수 x의 값들의 평균과 분산과 표준편차를 출력하시오!

In [ ]:
import random
import numpy as np       # numpy 모듈을 이 코드에서 사용

coin1 = [ '앞면', '뒷면' ]
coin2 = [ '앞면', '뒷면' ]
x = []

for j in range(1, 1001):
  cnt = 0
  for i in range(1, 301):
    result1 = random.choice(coin1)
    result2 = random.choice(coin2)
    if result1 == '앞면' and result2 == '앞면':
      cnt = cnt + 1
  x.append(cnt)

print(np.mean(x))
print(np.var(x))
print(np.std(x))

75.136
55.327504
7.43824602981106

문제34. 한개의 주사위를 360번 던져서 3의 배수의 눈이 나오는 횟수를 구하는것을 1000 번하고 그 1000개를 X 변수에 넣고 이 X의 평균, 분산, 표준편차를 출력하시오

In [ ]:
import random
import numpy as np       # numpy 모듈을 이 코드에서 사용

dice = [ 1, 2, 3, 4, 5, 6 ]    # 주사위 생성
x = []                         # x 라는 비어있는 리스트 생성

for j in range(1, 1001):          # 1000번 반복수행하는 for loop 문 작성
  cnt = 0                         # cnt 에 0을 할당합니다.
  for i in range(1, 361):         # 360번 반복수행하는 for loop 문 작성
    result = random.choice(dice)  # 주사위에서 눈을 하나 출력해서 result 에 담는다.
    if result % 3 == 0:           # 그 주사위의 눈을 3으로 나눈 나머지값이 0 이면
      cnt = cnt + 1               # cnt 를 1씩 증가시키겠다
  x.append(cnt)                   # 주사위를 360번 던져서 3의 배수가 나온 횟수가 x 리스트에 입력됩니다. 

print(np.mean(x))
print(np.var(x))
print(np.std(x))

120.218
76.548476
8.749198591871144

**■ 12. for문 개념 배우기 ② (for-continue-break)**

for 반복문 내에서 continue 를 만나면 그 다음 반복 실행으로 넘어가며
break 를 만나면 for 반복문을 완전히 벗어나게 됩니다.

예제:  
for 변수 in 범위:  
… 실행코드  
continue   # 이 부분은 그냥 지나치고 다음 반복문을 수행해라 ~   
… 실행코드  
break      # for 반복문을 탈출

문제35. 숫자 1번부터 10번까지 출력하시오 !

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

문제36. 위의 결과에서 숫자 5만 출력하지 않고 나머지 숫자만 출력하시오!

In [ ]:
for i in range(1, 11):
  if i == 5:
    continue        # 이 부분을 그냥 지나치고 다음 루프 실행문을 계속 실행해라
  print(i)

1
2
3
4
6
7
8
9
10

문제38. 1부터 10까지의 합을 파이썬으로 구현하시오 !

In [ ]:
a = 0

for i in range(1, 11):
  a = a + i

print(a)

55

In [ ]:
x = []

for i in range(1, 11):
  x.append(i)

print(sum(x))

55

**■ for 문에서 사용하는 break 문**

 " 루프문을 중단시키는 역할을 하는 키워드 "

예제:

In [ ]:
for i in range(1,11):   # 1 부터 10 까지 루프를 돌리는데  
    print(i)            # i 를 출력 하다가  
    if i == 3:          # i 가 3 이면  
        break           # 루프문을 종료시켜라 ~

1
2
3

문제39. 1부터 100까지 출력하는 for loop 문을 작성하는데 다음과 같이 숫자를 물어보게해서 입력된 숫자까지만 출력되게하시오 !

In [ ]:
a = int( input('숫자를 입력하세요~') )

for i in range(1,11):
  print(i)
  if i == a:
    break

숫자를 입력하세요~4
1
2
3
4

문제40. 두 숫자를 각각 물어보게 하고 입력받아 두 숫자의 최대공약수를 출력하시오 !  
힌트: 16%i == 0 and 24%i == 0  
힌트: print(max(16, 24))

In [ ]:
a = int( input('첫번째 숫자를 입력하세요~') )
b = int( input('두번째 숫자를 입력하세요~') )
x = []

for i in range(1, max(a, b)):
  if a % i == 0 and b % i == 0:
    x.append(i)

print('최대 공약수는',max(x),'입니다.')

첫번째 숫자를 입력하세요~16
두번째 숫자를 입력하세요~24
최대 공약수는 8 입니다.

In [ ]:
a = int( input('첫번째 숫자를 입력하세요~') )
b = int( input('두번째 숫자를 입력하세요~') )

for i in range(max(a,b), 1, -1):
  if a % i == 0 and b % i == 0:
    break
print(a, '와', b, '의 최대공약수는', i, '입니다.')

첫번째 숫자를 입력하세요~16
두번째 숫자를 입력하세요~24
16 와 24 의 최대공약수는 8 입니다.

**■ 13. for문 개념 배우기 ③ (for-else)**

for 반복문을 완전히 수행했을 때만 실행하는 부분을 정의하려면  
for ~ else 문을 사용해야 합니다.  
for ~ else 에서 else 뒤에 실행되는 코드는 for 반복문을 성공적으로 수행해야지만 실행됩니다.

예제:

In [ ]:
for i in range(1,11):
    print(i)
else:
    print('Perfect')   # break 에 의해서 루프문이 중단되면 else 다음에 실행문이 실행되지 않습니다.

1
2
3
4
5
6
7
8
9
10
Perfect

문제41. 숫자를 물어보게 하고 숫자를 입력하면 해당 숫자만큼 1번부터 숫자가 출력되게 하시오~

In [ ]:
a = int( input('숫자를 입력하세요 ~') )

for i in range(1, a+1):
  print(i)

숫자를 입력하세요 ~6
1
2
3
4
5
6

문제42. 위의 입력한 숫자까지 다 출력하면 아래에 perfect 이란 단어가 출력되게하시오!

In [ ]:
a = int( input('숫자를 입력하세요 ~') )

for i in range(1, a+1):
  print(i)
else:
  print('Perfect')

숫자를 입력하세요 ~5
1
2
3
4
5
Perfect

문제43. 위의 코드를 수정해서 중단할 숫자를 또 물어보게 해서 아래와 같이 실행되게하시오!

숫자를 입력하세요 ~ 10  
중단할 숫자를 입력하세요 ~ 5

In [ ]:
a = int( input('숫자를 입력하세요 ~') )
b = int( input('중단할 숫자를 입력하세요 ~') )

for i in range(1, a+1):
  print(i)
  if i == b:
    break
else:
  print('Perfect')

숫자를 입력하세요 ~6
중단할 숫자를 입력하세요 ~3
1
2
3

**■ 14. while문 개념 배우기(while-continue-break)**

for 루프문처럼 while 루프문도 같은 반복문입니다.
for 루프문은 특정 범위에서 반복 실행하게 하는 반면에
while 루프문은 특정 조건에서 코드를 반복 실행하게 합니다.

for  루프문

In [ ]:
for i in range(10):  
    print(i)

0
1
2
3
4
5
6
7
8
9

while  루프문

In [ ]:
x = 0  
while x < 10:  
    print(x)  
    x = x + 1

0
1
2
3
4
5
6
7
8
9

0 < 10  참  
1 < 10  참  
   :  
9 < 10  참  
10 < 10 거짓

문제44. 아래와 같이 숫자를 물어보게하고 숫자를 입력하면 해당 숫자만큼 ★이 출력되게하시오! (while loop 문으로 하세요)

숫자를 입력하세요 ~ 5  
★  
★★  
★★★  
★★★★  
★★★★★

In [ ]:
a = int( input('숫자를 입력하세요~') )
x = 0

while x <= a:
  x = x + 1
  print( '★' * x )

숫자를 입력하세요~5
★
★★
★★★
★★★★
★★★★★
★★★★★★

문제45. 아래와 같이 결과가 출력되게 하시오!

숫자를 입력하세요 ~ 5  
★★★★★  
★★★★  
★★★  
★★  
★

In [ ]:
a = int( input('숫자를 입력하세요~') )

while a > 0:
  print( '★' * a )
  a = a - 1

숫자를 입력하세요~5
★★★★★
★★★★
★★★
★★
★

In [ ]:
a = int( input('숫자를 입력하세요~') )
x = 0

while x < a:
  print( (a - x) * '★' )
  x = x + 1

숫자를 입력하세요~5
★★★★★
★★★★
★★★
★★
★

문제46. 주사위 2개의 동시에 던져서 두개의 주사위의 눈의 합을 구하는 실행문을 10000번 반복해서 그 10000개를 비어있는 a 리스트에 넣으시오!  
(while 루프문으로 하세요)

In [ ]:
import random

dice1 = [ 1, 2, 3, 4, 5, 6 ]
dice2 = [ 1, 2, 3, 4, 5, 6 ]
a = []
x = 0

while x < 10000:
  result1 = random.choice(dice1)
  result2 = random.choice(dice2)
  a.append(result1 + result2)
  x = x + 1

print(len(a))     # a 리스트안의 요소의 갯수를 확인할 수 있습니다.

10000

문제47. 위의 코드를 이용해서 두개의 주사위의 눈이 합이 10이 되는 확률을 구하시오!

In [ ]:
import random

dice1 = [ 1, 2, 3, 4, 5, 6 ]
dice2 = [ 1, 2, 3, 4, 5, 6 ]
a = []
x = 0

while x < 10000:
  result1 = random.choice(dice1)
  result2 = random.choice(dice2)
  if result1 + result2 == 10:
    a.append(result1 + result2)
  x = x + 1

print(len(a)/10000)

0.082

**■ 15. None 개념 배우기**

None 은 아무것도 없다는 상수 입니다.  
아무것도 없다는 것을 나타내기 위해서 주로 활용됩니다.  

예:

In [ ]:
x = 0
while x < 10:
    print(x)
    x = x + 1

설명: 위의 while loop 문에서의 x 변수는 숫자만 담기는 변수입니다.  
	그런데 어떨때는 숫자가 들어갈 수 도 있고 어떨때는 문자가 들어갈 수도 있어서
	처음에 변수 선언시 결정을 못하겠다면 아래와 같이 하면 됩니다.

In [ ]:
x = None
a = 1
if a == 1:
   x = [ 1, 2, 3 ]   # x 라는 변수에 리스트를 담았습니다.
else:
   x = 'I love Python'   # x 라는 변수에 문자열을 담았습니다.
  
print(x)

[1, 2, 3]

**■ 16. 정수형 자료 이해하기**

자연수(1, 2, 3, …) 와 음수(-1, -2, -3, …) 와 0으로 이루어진 수의 체계를 정수라고 합니다.

예:  
a = 123  
b = -178  
c = 0

일반 프로그래밍에서 지원하는 정수형 상수의 범위는
 -2,147,473,647 ~ 2,147,473,647 인데 (2의 31승)
파이썬은 메모리가 허용하는 범위에서  
지원 가능한 수를 다 사용할 수 있습니다.

문제48. 위의 말이 맞는지 for loop 문으로 테스트 해서 확인하시오!  
파이썬에서는 정수형 변수가 담을 수 있는 상수의 범위가 어떻게 되는지 테스트 하시오!

In [ ]:
for i in range(10000000000000000000000000000000000000000000000000):
    a = i
print(i)

문제49. 3의 2승을 파이썬으로 구하세요!

In [ ]:
print(3**2)

9

문제50. 루트 4를 파이썬으로 구하세요!

In [ ]:
import math

print(math.sqrt(4))

2.0

문제51. 몬테카를로 알고리즘을 이용해서 원주율의 근사값을 파이썬으로 구하세요!

In [ ]:
import random
print(random.uniform(0,1))          # 0 ~ 1 사이의 난수를 출력

0.006540929117878735

In [ ]:
import random

x = 0

for i in range(1, 10001):              # 10000번 루프를 돌리는데
    result1 = random.uniform(0,1)      # 0~1 사이의 난수를 result1 에 담습니다.
    result2 = random.uniform(0,1)      # 0~1 사이의 난수를 result2 에 담습니다.
    if result1**2 + result2**2 <= 1:   # 부채꼴안의 점이라면
        x = x + 1                      # x 를 1 증가시킵니다.

print(x/10000*4)                       # 원주율 출력

**■ 17. 실수형 자료 이해하기**

실수는 소수로 나타낼 수 있는 유리수와 소수로 나타낼 수 없는 무리수로 구성된 집합입니다.  
(무리수의 예: 원주율, 오일러 자연상수 e)  
파이썬은 실수를 지원하기 위해서 부동 소수형을 제공합니다.

** 부동 소수형의 특징
 1. 8 바이트만 이용해서 수를 표현합니다. 즉, 한정된 범위의 수만 표현할 수 있습니다.
 2. 디지털 방식으로 소수를 표현해야 하므로 정밀도의 한계가 있습니다.

예제. 소수 43.2 에서 소수 43.1을 빼면 얼마인지 파이썬으로 구현하시오!

In [ ]:
print(43.2 - 43.1)

0.10000000000000142

부동 소수형은 위와 같이 정밀도의 한계를 가지고 있습니다.  
이것은 비단 파이썬만의 문제가 나이라 부동소수형이 어떻게 구성되고 동작되는가를
정의하는 표준인 IEEE 754 를 따르는  
모든 컴퓨터 시스템의 문제입니다.  
IEEE 754 는 제한된 메모리를 이용해서 (파이썬의 경우는 8바이트) 실수를 표현하기 때문에 제한된 정밀도를 갖습니다.

**■ 18. 복소수형 자료 이해하기**

복소수 : 실수 + 허수   
실수 : 정수, 유리수, 무리수  
허수 : i 를 제곱하면 -1 이 되는 수


복소수는 실수부와 허수부로 되어있고 허수부는 숫자 뒤에 문자 i 를 이용하는데
파이썬에서는 j를 사용합니다.  

예:

In [ ]:
c1 = 1 + 7j
print(c1.real)      # 복소수형 자료에서 실수부만 취한다.
print(c1.imag)      # 복소수형 자료에서 허수부만 취한다.

c2 = complex(2,3)   # 실수부가 2이고 허수부가 3인 복소수를 만든다.
print(c2)

1.0
7.0
(2+3j)

문제52. 아래의 수학식을 파이썬으로 구현해서 답을 출력하시오 !  
(1 - 2i)^2 - 2(1-2i) - 12

In [ ]:
a = complex(1, -2)
result = a ** 2 - 2 * a - 12
print(result)

(-17+0j)