<a href="https://colab.research.google.com/github/yhy0519/The_first_step_of_Python/blob/main/python8_12_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**■ 58. 예외처리 이해하기 ④ (try~except Exception as e)**

코드에서 예외가 발생하면 이에 대한 자세한 내용을 파악하는 것이 중요합니다.

http://docs.python.org/3/library/exceptions.html

설명: 위에 사이트에 보면 여러가지 다양한 에러에 대해서 미리 에러처리를 할 수 있도록 정의해놓은 예외들을 확인할 수 있습니다.

예제:

In [1]:
try:
    x = int( input('분자의 숫자를 입력하시오') )
    y = int( input('분모의 숫자를 입력하시오') )
    print( x / y )
except:
    print('잘못된 값을 입력하셔서 나누기를 시도하셨습니다.')

분자의 숫자를 입력하시오10
분모의 숫자를 입력하시오0
잘못된 값을 입력하셔서 나누기를 시도하셨습니다.

In [3]:
try:
    x = int( input('분자의 숫자를 입력하시오') )
    y = int( input('분모의 숫자를 입력하시오') )
    print( x / y )
except:
    print('잘못된 값을 입력하셔서 나누기를 시도하셨습니다.')

분자의 숫자를 입력하시오10
분모의 숫자를 입력하시오a
잘못된 값을 입력하셔서 나누기를 시도하셨습니다.

설명: 위의 경우에는 분모값을 입력할 때 숫자 0을 입력했을때와 문자 a를 입력했을때 똑같이 '잘못된 값을 입력하셔서 나누기를 시도하셨습니다'가 출력되게 했는데 좀 더 구체화해서 분모값으로 0 을 입력하면 0으로 나눌 수 없습니다가 나오고 분모값으로 a 를 입력하면 잘못된 값을 입력하셨습니다가 나오게 하고 싶다면?

In [4]:
try:
    x = int( input('분자의 숫자를 입력하시오') )
    y = int( input('분모의 숫자를 입력하시오') )
    print( x / y )
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')
except:
    print('잘못된 값을 입력하셨습니다.')

분자의 숫자를 입력하시오10
분모의 숫자를 입력하시오0
0으로 나눌 수 없습니다.

In [5]:
try:
    x = int( input('분자의 숫자를 입력하시오') )
    y = int( input('분모의 숫자를 입력하시오') )
    print( x / y )
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')
except:
    print('잘못된 값을 입력하셨습니다.')

분자의 숫자를 입력하시오10
분모의 숫자를 입력하시오a
잘못된 값을 입력하셨습니다.

문제191. 숫자를 물어보게하고 숫자를 입력하면 해당 숫자만큼 1번부터 출력되게하는 
	     코드를 작성하시오!
	
    숫자를 입력하세요~5
    1
    2
    3
    4
    5

In [6]:
num = int( input('숫자를 입력하세요~') )

for i in range(1, num+1):
    print(i)

숫자를 입력하세요~5
1
2
3
4
5

문제192. 위의 코드에 예외처리를 해서 숫자를 물어볼 때 문자를 입력하면 잘못된 값을 입력하셨습니다. 라고 메세지가 출력되게하시오

In [8]:
try:
    num = int( input('숫자를 입력하세요~') )
    for i in range(1, num+1):
        print(i)
except:
    print('잘못된 값을 입력하셨습니다.')

숫자를 입력하세요~a
잘못된 값을 입력하셨습니다.

설명: 위의 코드의 경우에는 숫자를 입력할 때 알파벳 a 를 넣으면 예외처리가 되어서
	잘못된 값을 입력하셨습니다. 라는 말만 나오고  
  에러에 대한 정확한 원인파악은 어렵습니다.

잘못된 값을 입력하셨습니다 말고도 에러에 대한 정확한 원인을 파악하고 싶다면
아래와 같이 작성하면 됩니다.

In [9]:
try:
    num = int( input('숫자를 입력하세요~') )
    for i in range(1, num+1):
        print(i)
except Exception as e:
    print('잘못된 값을 입력하셨습니다.')
    print(e)         # 에러가 난 이유를 출력해준다.

숫자를 입력하세요~a
잘못된 값을 입력하셨습니다.
invalid literal for int() with base 10: 'a'

**■ 59. 예외처리 이해하기 ⑤ (try~except 특정 예외)**

파이썬 입장에서 봤을때는 오류가 아닌데 프로그래머가 이건 오류이다 라고
일부러 프로그램이 안돌게 오류메세지를 출력하는 경우에 사용합니다.

계산하는 프로그램

    프로그램코드 ………………….
    프로그램코드 ………………….   -->  오류가 발생했으면  --> 끝
    프로그램코드 ………………….
    프로그램코드 ………………….

설명: 금융권 프로그램에서는 금액이 안맞는 프로그램이 있다면 사고로 이어지게 되므로 금액이 안맞으면 프로그램을 종료해라 라고 예외처리를 할 수 있다.

문법:

    실행코드
    if 어떤조건:
        raise Exception('예외가 발생했습니다.')    # 여기서 종료
    else:
       실행코드

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

문제193. 판다스를 이용해서 emp3.csv 의 데이터를 로드하는데 이름을 물어보게하고
	     이름을 입력하면 해당 사원의 이름과 월급이 출력되게하시오 !

    이름을 입력하세요 ~ scott

    SCOTT 3000

In [14]:
import pandas as pd

name = input('이름을 입력하세요 ~ ')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
print( emp[['ename', 'sal']][emp['ename'] == name.upper()] )

이름을 입력하세요 ~ scott
    ename   sal
11  SCOTT  3000

문제194. 위의 결과에서 월급만 출력하시오!

In [16]:
import pandas as pd

name = input('이름을 입력하세요 ~ ').upper()
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
print( emp['sal'][emp['ename'] == name] )

이름을 입력하세요 ~ scott
11    3000
Name: sal, dtype: int64

In [17]:
result = emp['sal'] [emp['ename'] == name]
print( type(result) )      # Series : 오라클의 컬럼 같은 존재

<class 'pandas.core.series.Series'>

3000  <---- 필드값  
(불필요한 정보들을 제외하고싶음)

In [19]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
name = input('이름을 입력하세요~').upper()

result = emp['sal'] [emp['ename'] == name].values[0]   # 한개의 값을 가져오는거라 무조건 0 을 쓴다.
print( type(result) )
print( result )

이름을 입력하세요~scott
<class 'numpy.int64'>
3000

설명: emp 데이터 프레임에서 어떤 특정값을 딱 하나만 출력하려면 위와 같이 작성해줘야 합니다.

문제195. 위의 코드에 사용자 정의 예외처리를 해서 월급이 고소득자는 해당 사원의 월급을 볼 수 없습니다. 라는 메세지가 출력되게하시오 (월급이 3000 이상인 사원들을 고소득자로 보고 작성하시오)

In [23]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
name = input('이름을 입력하세요~').upper()
result = emp['sal'] [emp['ename'] == name].values[0]

if result >= 3000:
    raise Exception('해당 사원의 월급을 볼 수 없습니다.')
print(emp[['ename','sal']] [emp['ename'] == name])

이름을 입력하세요~scott

Exception: ignored

문제196. 위의 코드를 수정해서 이름을 물어보게 하고 이름과 직업을 출력하는 코드로 작성하는데  
직업이 SALESMAN 이면 해당 사원의 정보는 볼 수 없습니다. 라는 메세지가 출력되면서 프로그램이 종료되게 하시오!

In [24]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
name = input('이름을 입력하세요~').upper()
result = emp['job'] [emp['ename'] == name].values[0]

if result == 'SALESMAN':
    raise Exception('해당 사원의 정보는 볼 수 없습니다.')
print(emp[['ename', 'job']] [emp['ename'] == name])

이름을 입력하세요~scott
    ename      job
11  SCOTT  ANALYST

In [25]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
name = input('이름을 입력하세요~').upper()
result = emp['job'] [emp['ename'] == name].values[0]

if result == 'SALESMAN':
    raise Exception('해당 사원의 정보는 볼 수 없습니다.')
print(emp[['ename', 'job']] [emp['ename'] == name])

이름을 입력하세요~allen

Exception: ignored

**■ 60. 값 입력받기(input)**

파이썬 내장 함수 input 은 사용자가 키보드로 입력한 값을 문자열로 리턴합니다.  
input() 의 인자는 사용자 입력을 돕기 위한 안내 문구나 힌트 등을 표시하는 문자열이 됩니다.

예:

    name = input('사원이름을 입력하세요~')
    num = int( input('숫자값을 입력하세요~') )

문제197. 사원 이름을 물어보게하고 사원이름을 입력하면 해당 사원의 이름과 월급이 출력되게하시오!

In [26]:
import pandas as pd

name = input('이름을 입력하세요 ~ ')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
print( emp[['ename', 'sal']][emp['ename'] == name.upper()] )

이름을 입력하세요 ~ allen
   ename   sal
5  ALLEN  1600

In [27]:
import pandas as pd

name = input('이름을 입력하세요 ~ ')
emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
print( emp[['ename', 'sal']][emp['ename'] == name.upper()] )

이름을 입력하세요 ~ aaa
Empty DataFrame
Columns: [ename, sal]
Index: []

문제198. 없는 사원 이름을 입력하면 해당 사원은 없습니다. 라는 메세지가 출력되게하시오!

In [29]:
import pandas as pd

try:
    emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
    name = input('사원 이름을 입력하세요~').upper()
    result = emp['ename'] [ emp['ename'] == name.upper() ].values[0]   # 이름값을 받아서 변수에 할당
    print(emp[['ename', 'sal']] [emp['ename'] == result] )
except LookupError:
    print('해당 사원은 없습니다.')

사원 이름을 입력하세요~aaa
해당 사원은 없습니다.

설명: result = emp['ename'] [ emp['ename'] == name.upper() ].values[0]  
이 코드에서 values[0] 을 사용하면 Series(컬럼) 가 아니라 값으로 출력이 되어서 result 에 담기게 됩니다.  
없는 사원이름을 입력하면 result 에 값이 입력되지 않게 되므로 LookupError 예외처리가 되어서 해당사원은 없습니다. 라는 메세지가 출력되는 겁니다.

문제199. 직업을 물어보게 하고 직업을 입력하면 해당 사원의 이름과 직업과 월급이 출력되게하는 코드를 작성하는데 없는 직업을 입력하면 해당 직업은 사원 테이블에 없습니다. 라는 메세지가 출력되게하시오 !

In [31]:
import pandas as pd

try:
    emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
    job = input('직업을 입력하세요~')
    result = emp['job'] [ emp['job'] == job.upper() ].values[0]
    print(emp[['ename', 'job']] [emp['job'] == result] )
except LookupError:
    print('해당 직업은 사원 테이블에 없습니다.')

직업을 입력하세요~salesman
    ename       job
4  MARTIN  SALESMAN
5   ALLEN  SALESMAN
6  TURNER  SALESMAN
8    WARD  SALESMAN

In [32]:
import pandas as pd

try:
    emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
    job = input('직업을 입력하세요~')
    result = emp['job'] [ emp['job'] == job.upper() ].values[0]
    print(emp[['ename', 'job']] [emp['job'] == result] )
except LookupError:
    print('해당 직업은 사원 테이블에 없습니다.')

직업을 입력하세요~aaa
해당 직업은 사원 테이블에 없습니다.

**■ 61. 자료형 확인하기(type)**

파이썬의 자료형은 하나의 클래스 입니다.  
파이썬은 숫자나 문자, 문자열, 리스트, 튜플, 사전, 함수 등을 각각의 하나의 클래스로 취급합니다.  
코드를 작성하다가 변수 이름만 보고 이 자료가 어떤 자료형인지 확인해야하는 경우가 있습니다.  
이때 파이썬 내장함수인 type() 을 활용하면 자료형을 쉽게 확인할 수 있습니다.

예제:

In [33]:
numdata = 57
print( type(numdata) )

numdata2 = 57.2
print( type(numdata2) )

strdata = '파이썬'
print( type(strdata) )  

a = [ 1, 2, 3, 4 ]
print( type(a) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

문제200. 딕셔너리 자료형을 만들고 위와같이 type 을 확인하시오!

In [34]:
b = { '파랑' : 'blue', '빨강' : 'red', '초록' : 'green' }
print( type(b) )

<class 'dict'>

설명:   
리스트 : 대괄호 []  
튜플 : 소괄호 ()  
딕셔너리 : 중괄호 {}

**■ 62. 나눗셈에서 나머지만 구하기(%)**

나누기 연산에서 나머지만 구하는 연산을 %로 구합니다.

예:

In [36]:
print(12%3)
print(11%5)

0
1

문제201. 아래와 같이 두개의 숫자를 각각 물어보게하고 아래의 메세지가 출력되게하시오!

    첫번째 숫자를 입력하세요~1113
    두번째 숫자를 입력하세요~23
    1113 를 23 로 나누면 9 가 나머지로 남습니다.

In [39]:
num1 = int( input('첫번째 숫자를 입력하세요 ~') )
num2 = int( input('두번째 숫자를 입력하세요 ~') )
num3 = num1 % num2

print(num1,'을', num2, '로 나누면', num3, '가 나머지로 남습니다.')

첫번째 숫자를 입력하세요 ~1113
두번째 숫자를 입력하세요 ~23
1113 을 23 로 나누면 9 가 나머지로 남습니다.

**■ 63. 몫과 나머지 구하기(divmod)**

예제:

In [40]:
result1, result2 = divmod(1113, 23)         # divmod 함수가 출력하는 값이 2개여서 앞에 result1, result2 변수 두개를 기재함.

print(result1, result2)                     # result1 : 몫, result2 : 나머지

result1 = divmod(1113, 23)
print(result1)

48 9
(48, 9)

문제202. 아래와 같이 실행되게 코드를 수행하시오!

    첫번째 숫자를 입력하시오 ~1113
    두번째 숫자를 입력하시오 ~23
    1113 을 23 으로 나눈 몫은 48 이고 나머지는 9 입니다.

In [41]:
try:
    a = int( input('첫번째 숫자를 입력하시오 ~') )
    b = int( input('두번째 숫자를 입력하시오 ~') )
    result1, result2 = divmod(a, b) 
    print('%d 을 %d 으로 나눈 몫은 %d 이고 나머지는 %d 입니다.' %(a, b, result1, result2))
except ZeroDivisionError:
    print('0 으로는 나눌 수 없습니다.')

첫번째 숫자를 입력하시오 ~1113
두번째 숫자를 입력하시오 ~23
1113 을 23 으로 나눈 몫은 48 이고 나머지는 9 입니다.

**■ 64. Pandas 를 이용한 데이터 검색**

SQL, Pandas 를 자유롭게 사용할 수 있어야 합니다.  
SQL ---> Pandas, Pandas ---> SQL

예제:

    emp[['ename', 'sal']] [emp['ename'] == 'SCOTT']

문제203. dept3.csv 를 판다스로 로드해서 dept 데이터 프레임 전체를 출력하시오!

In [42]:
import pandas

dept = pd.read_csv('/content/drive/MyDrive/data/dept3.csv')
print(dept)

   deptno       dname       loc
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

문제204. 부서위치 DALLAS 의 부서번호와 부서명을 출력하시오!

In [43]:
import pandas

dept = pd.read_csv('/content/drive/MyDrive/data/dept3.csv')
print(dept[['deptno', 'dname']] [dept['loc'] == 'DALLAS'])

   deptno     dname
1      20  RESEARCH

**■ 65. Pandas 를 이용한 조인**

예제: 이름과 부서위치를 출력하시오!  
SQL>

    select e.ename, d.loc
       from emp e, dept d
       where e.deptno = d.deptno;

Pandas>

In [44]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
dept = pd.read_csv('/content/drive/MyDrive/data/dept3.csv')
result = pd.merge(emp, dept, on = 'deptno')
print(result[['ename', 'loc']])

     ename       loc
0     KING  NEW YORK
1    CLARK  NEW YORK
2   MILLER  NEW YORK
3    BLAKE   CHICAGO
4   MARTIN   CHICAGO
5    ALLEN   CHICAGO
6   TURNER   CHICAGO
7    JAMES   CHICAGO
8     WARD   CHICAGO
9    JONES    DALLAS
10    FORD    DALLAS
11   SMITH    DALLAS
12   SCOTT    DALLAS
13   ADAMS    DALLAS

설명: emp 데이터 프레임과 dept 데이터 프레임을 merge 를 써서 조인시키는데  
on = 'deptno' 를 이용해서 연결고리가 되는 컬럼을 지정해주면 됩니다.

문제205. DALLAS 에서 근무하는 사원들의 이름과 부서위치를 출력하시오.  
SQL>

    select e.ename, d.loc
       from emp e, dept d
       where e.deptno = d.deptno and d.loc = 'DALLAS';

Pandas>

In [46]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
dept = pd.read_csv('/content/drive/MyDrive/data/dept3.csv')
result = pd.merge(emp, dept, on = 'deptno')
print(result[['ename', 'loc']][result['loc'] == 'DALLAS'])

    ename     loc
9   JONES  DALLAS
10   FORD  DALLAS
11  SMITH  DALLAS
12  SCOTT  DALLAS
13  ADAMS  DALLAS

문제206. 월급이 3000 이상인 사원들의 이름과 월급과 부서위치를 출력하시오!  
SQL>

    select e.ename, e.sal, d.loc
       from emp e, dept d
       where e.deptno = d.deptno and e.sal >= 3000;

Pandas>

In [48]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
dept = pd.read_csv('/content/drive/MyDrive/data/dept3.csv')
result = pd.merge(emp, dept, on = 'deptno')
print(result[['ename', 'sal', 'loc']][result['sal'] >= 3000])

    ename   sal       loc
0    KING  5000  NEW YORK
10   FORD  3000    DALLAS
12  SCOTT  3000    DALLAS

문제207. 부서번호가 10번, 20번인 사원들의 이름과 부서위치와 부서번호를 출력하시오!  
SQL>

    select e.ename, d.loc, e.deptno
       from emp e, dept d
       where e.deptno = d.deptno and e.deptno in (10, 20);

Pandas>

In [52]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
dept = pd.read_csv('/content/drive/MyDrive/data/dept3.csv')
result = pd.merge(emp, dept, on = 'deptno')
print(result[['ename', 'loc', 'deptno']][result['deptno'].isin([10, 20])])

     ename       loc  deptno
0     KING  NEW YORK      10
1    CLARK  NEW YORK      10
2   MILLER  NEW YORK      10
9    JONES    DALLAS      20
10    FORD    DALLAS      20
11   SMITH    DALLAS      20
12   SCOTT    DALLAS      20
13   ADAMS    DALLAS      20

문제208. 월급이 1000에서 3000 사이인 사원들의 이름과 월급과 부서위치를 출력하시오!  
SQL>

    select e.ename, e.sal, d.loc
       from emp e, dept d
       where e.deptno = d.deptno and e.sal between 1000 and 3000;

Pandas>

In [53]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
dept = pd.read_csv('/content/drive/MyDrive/data/dept3.csv')
result = pd.merge(emp, dept, on = 'deptno')
print(result[['ename', 'sal', 'loc']][result['sal'].between(1000, 3000)])

     ename   sal       loc
1    CLARK  2450  NEW YORK
2   MILLER  1300  NEW YORK
3    BLAKE  2850   CHICAGO
4   MARTIN  1250   CHICAGO
5    ALLEN  1600   CHICAGO
6   TURNER  1500   CHICAGO
8     WARD  1250   CHICAGO
9    JONES  2975    DALLAS
10    FORD  3000    DALLAS
12   SCOTT  3000    DALLAS
13   ADAMS  1100    DALLAS

문제209. 아래의 SQL 을 Pandas 로 구현하시오

SQL>

    select e.ename, d.loc
       from emp e, dept d
       where e.deptno (+) = d.deptno;

Pandas>

In [55]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
dept = pd.read_csv('/content/drive/MyDrive/data/dept3.csv')
result = pd.merge(emp, dept, on = 'deptno', how = 'right')
print(result[['ename','loc']])

     ename       loc
0     KING  NEW YORK
1    CLARK  NEW YORK
2   MILLER  NEW YORK
3    JONES    DALLAS
4     FORD    DALLAS
5    SMITH    DALLAS
6    SCOTT    DALLAS
7    ADAMS    DALLAS
8    BLAKE   CHICAGO
9   MARTIN   CHICAGO
10   ALLEN   CHICAGO
11  TURNER   CHICAGO
12   JAMES   CHICAGO
13    WARD   CHICAGO
14     NaN    BOSTON

문제210. 아래의 SQL 을 Pandas 로 구현하시오!

SQL>

    select e.ename, d.loc
       from emp e full outer join dept d
       on (e.deptno = d.deptno);

In [57]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
dept = pd.read_csv('/content/drive/MyDrive/data/dept3.csv')
result = pd.merge(emp, dept, on = 'deptno', how = 'outer')
print(result[['ename','loc']])

     ename       loc
0     KING  NEW YORK
1    CLARK  NEW YORK
2   MILLER  NEW YORK
3    BLAKE   CHICAGO
4   MARTIN   CHICAGO
5    ALLEN   CHICAGO
6   TURNER   CHICAGO
7    JAMES   CHICAGO
8     WARD   CHICAGO
9    JONES    DALLAS
10    FORD    DALLAS
11   SMITH    DALLAS
12   SCOTT    DALLAS
13   ADAMS    DALLAS
14     NaN    BOSTON

**■ 66. Pandas 를 이용한 서브쿼리** 

예제: JONES 보다 더 많은 월급을 받는 사원들의 이름과 월급을 출력하시오  
SQL>

    select ename, sal
       from emp
       where sal > (select sal
                       from emp
                       where ename = 'JONES');

Pandas>

In [62]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
jsal = emp['sal'][emp['ename'] == 'JONES'].values[0]
print(emp[['ename', 'sal']][emp['sal'] > jsal])

    ename   sal
0    KING  5000
9    FORD  3000
11  SCOTT  3000

문제211. 아래의 서브쿼리를 Pandas로 구현하시오

SQL>  

    select ename, sal
       from emp
       where job = (select job
                        from emp
                        where ename = 'SCOTT');

Pandas>

In [65]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
sjob = emp['job'][emp['ename'] == 'SCOTT'].values[0]
print(emp[['ename', 'sal']][emp['job'] == sjob])

    ename   sal
9    FORD  3000
11  SCOTT  3000

문제212. 아래의 서브쿼리의 결과를 Pandas로 수행하시오

SQL>

    select ename, sal
       from emp
       where job = (select job
                       from emp
                       where ename 'SCOTT') and ename != SCOTT;
              
Pandas>

In [70]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
sjob = emp['job'][emp['ename'] == 'SCOTT'].values[0]
print(emp[['ename', 'sal']][(emp['job'] == sjob) & (emp['ename'] != 'SCOTT')])

  ename   sal
9  FORD  3000

설명: Pandas 에서 and 는 & 이고 or 는 | 입니다.  
	& 와 | 를 쓸때는 괄호로 묶어줘야 합니다.

**■ 67. Pandas 와 오라클 그룹함수의 비교**

SQL>

    select max(sal)
       from emp;

Pandas>

In [72]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
print(emp['sal'].max())

5000

설명:

    emp['sal'].max()  : 최대월급 
    emp['sal'].min()  : 최소월급
    emp['sal'].sum()  : 토탈월급
    emp['sal'].mean() : 평균월급
    emp['sal'].var()  : 분산값
    emp['sal'].std()  : 표준편차값

문제213. 아래의 SQL 을 Pandas 로 구현하시오!

SQL>

    select max(sal)
       from emp
       where deptno = 20;

Pandas>

In [74]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
print(emp['sal'][emp['deptno'] == 20].max())

3000

문제214. 아래의 SQL 을 Pandas 로 구현하시오!

SQL>

    select min(sal)
       from emp
       where job = 'SALESMAN';

Pandas>

In [75]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
print(emp['sal'][emp['job'] == 'SALESMAN'].min())

1250

문제215. emp12.csv 를 판다스 데이터 프레임으로 만들어서 출력하시오!

In [ ]:
import pandas as pd

emp12 = pd.read_csv('/content/drive/MyDrive/data/emp122.csv')
print(emp12)

문제216. 우리반에서 최소 나이를 출력하시오!

In [5]:
import pandas as pd

emp12 = pd.read_csv('/content/drive/MyDrive/data/emp122.csv')
print(emp12['AGE'].min())

24

문제217. 아래의 SQL 을 Pandas 로 구현하시오!

SQL>

    select job, max(sal)
       from emp
       group by job;

Pandas>

In [11]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
result = emp.groupby('job')['sal'].max()    # job 으로 group 하겠다.
print(type(result))        # <class 'pandas.core.series.Series'>
print(result)

<class 'pandas.core.series.Series'>
job
ANALYST      3000
CLERK        1300
MANAGER      2975
PRESIDENT    5000
SALESMAN     1600
Name: sal, dtype: int64

In [14]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
result = emp.groupby('job')['sal'].max().reset_index()
print(type(result))          # <class 'pandas.core.frame.DataFrame'>
print(result)

<class 'pandas.core.frame.DataFrame'>
         job   sal
0    ANALYST  3000
1      CLERK  1300
2    MANAGER  2975
3  PRESIDENT  5000
4   SALESMAN  1600

※ 설명: reset_index() 키워드는 Series(컬럼) 로 출력하는게 아니라 DataFrame(테이블) 으로 출력하는 키워드 입니다.

문제218. 아래의 SQL 을 Pandas 로 구현하시오!

SQL>

    select deptno, sum(sal)
       from emp
       group by deptno;

Pandas>

In [17]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
result = emp.groupby('deptno')['sal'].sum().reset_index()
print(result)

   deptno    sal
0      10   8750
1      20  10875
2      30   9400


문제219. 아래의 SQL 을 Pandas 로 구현하시오!

SQL>

    select deptno, sum(sal)
       from emp
       where deptno != 20
       group by deptno;

Pandas>

In [20]:
import pandas as pd

emp = pd.read_csv('/content/drive/MyDrive/data/emp3.csv')
result = emp.groupby('deptno')['sal'].sum().reset_index()
print(result[['deptno', 'sal']][result['deptno'] != 20])

   deptno   sal
0      10  8750
2      30  9400

문제220. 190번 문제로 만든 함수를 이용해서 아래와 같이 출력되게하시오 

    동전을 10번 던져서 0 개 앞면이 나올 확률 0.000900
    동전을 10번 던져서 1 개 앞면이 나올 확률 0.010600
    동전을 10번 던져서 2 개 앞면이 나올 확률 0.044100
    동전을 10번 던져서 3 개 앞면이 나올 확률 0.118600
    동전을 10번 던져서 4 개 앞면이 나올 확률 0.209000
    동전을 10번 던져서 5 개 앞면이 나올 확률 0.246300
    동전을 10번 던져서 6 개 앞면이 나올 확률 0.197800
    동전을 10번 던져서 7 개 앞면이 나올 확률 0.114400
    동전을 10번 던져서 8 개 앞면이 나올 확률 0.043100
    동전을 10번 던져서 9 개 앞면이 나올 확률 0.009800
    동전을 10번 던져서 10 개 앞면이 나올 확률 0.000600

In [27]:
def coin_prob(num):
    import random

    coin = ['앞면', '뒷면']
    cnt2 = 0

    for k in range(1, 10001):
        cnt = 0
        for i in range(1,11):
            result = random.choice(coin)
            if result == '앞면':
                cnt += 1
        if cnt == num:
          cnt2 += 1
      
    return cnt2/10000

for i in range(0, 11):
    print('동전을 10번 던져서 %d 개 앞면이 나올 확률 %f' %(i, coin_prob(i)))

동전을 10번 던져서 0 개 앞면이 나올 확률 0.000900
동전을 10번 던져서 1 개 앞면이 나올 확률 0.010600
동전을 10번 던져서 2 개 앞면이 나올 확률 0.044100
동전을 10번 던져서 3 개 앞면이 나올 확률 0.118600
동전을 10번 던져서 4 개 앞면이 나올 확률 0.209000
동전을 10번 던져서 5 개 앞면이 나올 확률 0.246300
동전을 10번 던져서 6 개 앞면이 나올 확률 0.197800
동전을 10번 던져서 7 개 앞면이 나올 확률 0.114400
동전을 10번 던져서 8 개 앞면이 나올 확률 0.043100
동전을 10번 던져서 9 개 앞면이 나올 확률 0.009800
동전을 10번 던져서 10 개 앞면이 나올 확률 0.000600